Repository SteeltoeOSS/Steeltoe, pull requests merged in 2019-11, with the labels that each got.

#146 Enhance GemFire workflow
  .gitignore
  src/Connectors/Connectors.sln
  src/Connectors/EnableGemFire.ps1
  src/Connectors/README.md
Labels: 2.x, Connectors, Documentation

#154 updates to align with breaking changes in credhub api #152
  src/Security/src/DataProtection.CredHubBase/CredHubClient.cs
  src/Security/src/DataProtection.CredHubBase/CredHubGenerateRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/Certificate/CertificateGenerationRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/Certificate/CertificateSetRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/CredentialSetRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/JSON/JsonSetRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/Password/PasswordGenerationRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/Password/PasswordSetRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/RSA/RsaGenerationRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/RSA/RsaSetRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/SSH/SshGenerationRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/SSH/SshSetRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/User/UserGenerationRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/User/UserSetRequest.cs
  src/Security/src/DataProtection.CredHubBase/Credentials/Value/ValueSetRequest.cs
  src/Security/src/DataProtection.CredHubBase/ICredHubClient.cs
  src/Security/test/DataProtection.CredHubBase.Test/CredHubClientTests.cs
Labels: 2.x, Security

#158 Add HostBuilder extensions for easier dynamic logging #122
  src/Common/test/Common.TestResources/Steeltoe.Common.TestResources.csproj
  src/Logging/src/DynamicLogger/DynamicLoggerHostBuilderExtensions.cs
  src/Logging/src/DynamicLogger/Steeltoe.Extensions.Logging.DynamicLogger.csproj
  src/Logging/test/DynamicLogger.Test/DynamicLoggerHostBuilderExtensionsTest.cs
  src/Logging/test/DynamicLogger.Test/Steeltoe.Extensions.Logging.DynamicLogger.Test.csproj
Labels: 2.x, Logging, enhancement

#162 Add HostBuilder extensions for Management #157
  src/Logging/src/DynamicLogger/DynamicLoggerHostBuilderExtensions.cs
  src/Logging/src/DynamicLogger/DynamicLoggingBuilder.cs
  src/Management/src/CloudFoundryCore/CloudFoundryActuatorsStartupFilter.cs
  src/Management/src/CloudFoundryCore/CloudFoundryHostBuilderExtensions.cs
  src/Management/src/EndpointCore/CloudFoundry/CloudFoundryActuatorStartupFilter.cs
  src/Management/src/EndpointCore/CloudFoundry/CloudFoundrySecurityStartupFilter.cs
  src/Management/src/EndpointCore/DbMigrations/DbMigrationsStartupFilter.cs
  src/Management/src/EndpointCore/Env/EnvStartupFilter.cs
  src/Management/src/EndpointCore/Health/HealthStartupFilter.cs
  src/Management/src/EndpointCore/HeapDump/HeapDumpStartupFilter.cs
  src/Management/src/EndpointCore/Hypermedia/HypermediaStartupFilter.cs
  src/Management/src/EndpointCore/Info/InfoStartupFilter.cs
  src/Management/src/EndpointCore/Loggers/LoggersStartupFilter.cs
  src/Management/src/EndpointCore/ManagementHostBuilderExtensions.cs
  src/Management/src/EndpointCore/Mappings/MappingsStartupFilter.cs
  src/Management/src/EndpointCore/Metrics/MetricsStartupFilter.cs
  src/Management/src/EndpointCore/Refresh/RefreshStartupFilter.cs
  src/Management/src/EndpointCore/Steeltoe.Management.EndpointCore.csproj
  src/Management/src/EndpointCore/ThreadDump/ThreadDumpStartupFilter.cs
  src/Management/src/EndpointCore/Trace/TraceStartupFilter.cs
  src/Management/test/CloudFoundryCore.Test/CloudFoundryHostBuilderExtensionsTest.cs
  src/Management/test/CloudFoundryCore.Test/CloudFoundryServiceCollectionExtensionsTest.cs
  src/Management/test/CloudFoundryCore.Test/Steeltoe.Management.CloudFoundryCore.Test.csproj
  src/Management/test/EndpointCore.Test/ManagementHostBuilderExtensionsTest.cs
  src/Management/test/EndpointCore.Test/Trace/TraceDiagnosticObserverTest.cs
Labels: 2.x, Management, enhancement

#177 EurekaBase potential for NullReferenceException when no instance id exists
  src/Discovery/src/EurekaBase/AppInfo/Applications.cs
  src/Discovery/test/EurekaBase.Test/AppInfo/ApplicationsTest.cs
Labels: Discovery

#100 Support collecting core dump on Linux
  src/Common/src/Common/Platform.cs
  src/Management/src/Diagnostics/EventPipe/DiagnosticsHelpers.cs
  src/Management/src/Diagnostics/EventPipe/DiagnosticsMessageType.cs
  src/Management/src/Diagnostics/EventPipe/EventPipeClient.cs
  src/Management/src/Diagnostics/EventPipe/EventPipeSessionType.cs
  src/Management/src/Diagnostics/EventPipe/Extensions.cs
  src/Management/src/Diagnostics/EventPipe/IpcClient.cs
  src/Management/src/Diagnostics/EventPipe/IpcCommands.cs
  src/Management/src/Diagnostics/EventPipe/IpcHeader.cs
  src/Management/src/Diagnostics/EventPipe/IpcMessage.cs
  src/Management/src/Diagnostics/EventPipe/MessageHeader.cs
  src/Management/src/Diagnostics/EventPipe/Provider.cs
  src/Management/src/Diagnostics/EventPipe/SessionConfiguration.cs
  src/Management/src/EndpointBase/HeapDump/LinuxHeapDumper.cs
  src/Management/src/EndpointBase/HeapDump/WindowsHeapDumper.cs
  src/Management/src/EndpointCore/HeapDump/EndpointServiceCollectionExtensions.cs
  src/Management/test/EndpointBase.Test/HeapDump/HeapDumpEndpointTest.cs
  src/Management/test/EndpointCore.Test/HeapDump/EndpointMiddlewareTest.cs
  src/Management/test/EndpointCore.Test/HeapDump/EndpointServiceCollectionTest.cs
Labels: 3.x, Management, enhancement
