Repository SteeltoeOSS/Steeltoe, pull requests merged in 2020-07, with the labels that each got.

#376 Update Actuator Extensions to enable Security
  src/Management/src/EndpointBase/Hypermedia/HypermediaService.cs
  src/Management/src/EndpointCore/ActuatorRouteBuilderExtensions.cs
  src/Management/src/EndpointCore/AllActuatorsStartupFilter.cs
  src/Management/src/EndpointCore/ManagementHostBuilderExtensions.cs
  src/Management/test/EndpointCore.Test/ActuatorRouteBuilderExtensionsTest.cs
  src/Management/test/EndpointCore.Test/ManagementHostBuilderExtensionsTest.cs
  src/Management/test/EndpointCore.Test/TestHelpers.cs
Labels: 3.x, Management

#367 always url encode/decode credentials for service infos that deal with…
  src/Connectors/src/ConnectorBase/AbstractServiceConnectorOptions.cs
  src/Connectors/src/ConnectorBase/Cache/RedisCacheConfigurer.cs
  src/Connectors/src/ConnectorBase/DocumentDB/MongoDb/MongoDbProviderConfigurer.cs
  src/Connectors/src/ConnectorBase/Queue/RabbitMQProviderConfigurer.cs
  src/Connectors/src/ConnectorBase/Relational/MySql/MySqlProviderConfigurer.cs
  src/Connectors/src/ConnectorBase/Relational/Oracle/OracleProviderConfigurer.cs
  src/Connectors/src/ConnectorBase/Relational/PostgreSQL/PostgresProviderConfigurer.cs
  src/Connectors/src/ConnectorBase/Relational/SqlServer/SqlServerProviderConfigurer.cs
  src/Connectors/src/ConnectorBase/Services/PostgresServiceInfo.cs
  src/Connectors/src/ConnectorBase/Services/UriInfo.cs
  src/Connectors/src/ConnectorBase/Services/UriServiceInfo.cs
  src/Connectors/test/Connector.EFCore.Test/PostgresDbContextOptionsExtensionsTest.cs
  src/Connectors/test/ConnectorBase.Test/Relational/PostgreSQL/PostgresProviderConfigurerTest.cs
  src/Connectors/test/ConnectorBase.Test/Services/UriServiceInfoTest.cs
  src/Connectors/test/ConnectorCore.Test/MySqlProviderServiceCollectionExtensionsTest.cs
  src/Connectors/test/ConnectorCore.Test/PostgresProviderServiceCollectionExtensionsTest.cs
  src/Connectors/test/ConnectorCore.Test/RedisCacheServiceCollectionExtensionsTest.cs
  src/Connectors/test/ConnectorCore.Test/SqlServerProviderServiceCollectionExtensionsTest.cs
Labels: 2.x, Connectors

#374 Add initial k8s service discovery
  src/Common/src/Common.Kubernetes/IServiceCollectionExtensions.cs
  src/Common/src/Common/ApplicationInstanceInfo.cs
  src/Discovery/Discovery.sln
  src/Discovery/src/ClientCore/DiscoveryServiceCollectionExtensions.cs
  src/Discovery/src/ClientCore/Steeltoe.Discovery.ClientCore.csproj
  src/Discovery/src/KubernetesBase/Discovery/DefaultIsServicePortSecureResolver.cs
  src/Discovery/src/KubernetesBase/Discovery/EndpointSubsetNS.cs
  src/Discovery/src/KubernetesBase/Discovery/Input.cs
  src/Discovery/src/KubernetesBase/Discovery/KubernetesDiscoveryClient.cs
  src/Discovery/src/KubernetesBase/Discovery/KubernetesDiscoveryOptions.cs
  src/Discovery/src/KubernetesBase/Discovery/KubernetesServiceInstance.cs
  src/Discovery/src/KubernetesBase/Discovery/Metadata.cs
  src/Discovery/src/KubernetesBase/KubernetesDiscoveryClientFactory.cs
  src/Discovery/src/KubernetesBase/Steeltoe.Discovery.KubernetesBase.csproj
  src/Discovery/test/ClientCore.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/KubernetesBase.Test/Discovery/DefaultIsServicePortSecureResolverTest.cs
  src/Discovery/test/KubernetesBase.Test/Discovery/KubernetesDiscoveryClientTest.cs
  src/Discovery/test/KubernetesBase.Test/Discovery/KubernetesServiceInstanceTest.cs
  src/Discovery/test/KubernetesBase.Test/Steeltoe.Discovery.KubernetesBase.Test.csproj
  src/Steeltoe.All.sln
Labels: 3.x, Discovery

#378 Rebuild Discovery.ClientCore, Add NoOp and Config-based Options
  src/Common/src/Common.Kubernetes/Steeltoe.Common.Kubernetes.csproj
  src/Common/src/Common/Platform.cs
  src/Discovery/src/Abstractions/DiscoveryOptions.cs
  src/Discovery/src/ClientCore/DiscoveryApplicationBuilderExtensions.cs
  src/Discovery/src/ClientCore/DiscoveryClientBuilder.cs
  src/Discovery/src/ClientCore/DiscoveryHostBuilderExtensions.cs
  src/Discovery/src/ClientCore/DiscoveryServiceCollectionExtensions.cs
  src/Discovery/src/ClientCore/IDiscoveryClientExtension.cs
  src/Discovery/src/ClientCore/SimpleClients/ConfigurationDiscoveryClient.cs
  src/Discovery/src/ClientCore/SimpleClients/ConfigurationDiscoveryClientBuilderExtensions.cs
  src/Discovery/src/ClientCore/SimpleClients/ConfigurationDiscoveryClientExtension.cs
  src/Discovery/src/ClientCore/SimpleClients/NoOpDiscoveryClient.cs
  src/Discovery/src/ClientCore/SimpleClients/NoOpDiscoveryClientExtension.cs
  src/Discovery/src/ClientCore/Steeltoe.Discovery.ClientCore.csproj
  src/Discovery/src/ConsulBase/ConsulDiscoveryClientBuilderExtensions.cs
  src/Discovery/src/ConsulBase/ConsulDiscoveryClientExtension.cs
  src/Discovery/src/ConsulBase/Discovery/ConsulDiscoveryClient.cs
  src/Discovery/src/ConsulBase/Steeltoe.Discovery.ConsulBase.csproj
  src/Discovery/src/EurekaBase/EurekaDiscoveryClientBuilderExtension.cs
  src/Discovery/src/EurekaBase/EurekaDiscoveryClientExtension.cs
  src/Discovery/src/EurekaBase/ScopedEurekaHealthCheckHandler.cs
  src/Discovery/src/EurekaBase/Steeltoe.Discovery.EurekaBase.csproj
  src/Discovery/src/KubernetesBase/Discovery/DefaultIsServicePortSecureResolver.cs
  src/Discovery/src/KubernetesBase/Discovery/EndpointSubsetNS.cs
  src/Discovery/src/KubernetesBase/Discovery/Input.cs
  src/Discovery/src/KubernetesBase/Discovery/KubernetesDiscoveryClient.cs
  src/Discovery/src/KubernetesBase/Discovery/KubernetesDiscoveryOptions.cs
  src/Discovery/src/KubernetesBase/Discovery/KubernetesServiceInstance.cs
  src/Discovery/src/KubernetesBase/Discovery/Metadata.cs
  src/Discovery/src/KubernetesBase/KubernetesDiscoveryClientBuilderExtension.cs
  src/Discovery/src/KubernetesBase/KubernetesDiscoveryClientExtension.cs
  src/Discovery/src/KubernetesBase/KubernetesDiscoveryClientFactory.cs
  src/Discovery/src/KubernetesBase/Steeltoe.Discovery.KubernetesBase.csproj
  src/Discovery/test/ClientCore.Test/DiscoveryHostBuilderExtensionsTest.cs
  src/Discovery/test/ClientCore.Test/DiscoveryOptionsTest.cs
  src/Discovery/test/ClientCore.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/ClientCore.Test/Steeltoe.Discovery.ClientCore.Test.csproj
  src/Discovery/test/ConsulBase.Test/ConsulDiscoveryClientBuilderExtensionsTest.cs
  src/Discovery/test/EurekaBase.Test/EurekaClientOptionsTest.cs
  src/Discovery/test/KubernetesBase.Test/Discovery/DefaultIsServicePortSecureResolverTest.cs
  src/Discovery/test/KubernetesBase.Test/Discovery/KubernetesDiscoveryClientTest.cs
  src/Discovery/test/KubernetesBase.Test/Discovery/KubernetesServiceInstanceTest.cs
Labels: 3.x, Discovery
