Repository SteeltoeOSS/Steeltoe, pull requests merged in 2020-11, with the labels that each got.

#488 Fix Discovery Url bug in 3.x
  src/Discovery/src/ClientBase/ConfigurationUrlHelpers.cs
  src/Discovery/test/Eureka.Test/EurekaInstanceOptionsTest.cs
Labels: Component/Discovery, ReleaseLine/3.x, Type/bug

#489 Pipeline Enhancements
  azure-pipelines.yml
  nuget.config
  src/Connectors/test/ConnectorBase.Test/Cache/RedisHealthContributorTest.cs
  src/Connectors/test/ConnectorBase.Test/Relational/RelationalHealthContributorTest.cs
Labels: ReleaseLine/2.x, Type/infrastructure

#492 Add a Console sink if no LoggerConfiguration is provided
  src/Logging/Logging.sln
  src/Logging/src/DynamicSerilogBase/SerilogLoggingBuilderExtensions.cs
  src/Logging/src/DynamicSerilogCore/SerilogWebHostBuilderExtensions.cs
Labels: Component/Logging, ReleaseLine/3.x

#494 Disambiguate EF6Autofac extension names
  src/Connectors/src/Connector.EF6Autofac/MySqlDbContextContainerBuilderExtensions.cs
  src/Connectors/src/Connector.EF6Autofac/OracleDbContextContainerBuilderExtensions.cs
  src/Connectors/src/Connector.EF6Autofac/SqlServerDbContextContainerBuilderExtensions.cs
  src/Connectors/test/Connector.EF6Autofac.Net4Test/MySqlDbContextContainerBuilderExtensionsTest.cs
  src/Connectors/test/Connector.EF6Autofac.Net4Test/OracleDbContextContainerBuilderExtensionsTest.cs
  src/Connectors/test/Connector.EF6Autofac.Net4Test/SqlServerDbContextContainerBuilderExtensionsTest.cs
Labels: Component/Connectors, ReleaseLine/2.x, Type/bug

#508 update config server image name for integration tests
  azure-pipelines.yml
Labels: ReleaseLine/2.x, Type/infrastructure

#515 Update Config Server Integration Test
  azure-pipelines.yml
  src/Configuration/Configuration.sln
  src/Configuration/test/ConfigServer.ITest/ConfigServerConfigurationExtensionsIntegrationTest.cs
Labels: Component/Configuration, ReleaseLine/2.x

#511 Logging bug fix
  src/Logging/src/SerilogDynamicLoggerCore/SerilogBuilderExtensions.cs
  src/Logging/src/SerilogDynamicLoggerCore/SerilogConfigurationExtensions.cs
  src/Logging/src/SerilogDynamicLoggerCore/SerilogDynamicProvider.cs
  src/Logging/test/SerilogDynamicLoggerCore.Test/SerilogDynamicLoggingBuilderTest.cs
  src/Management/src/EndpointCore/Loggers/LoggersEndpointMiddleware.cs
  src/Management/src/EndpointCore/Mappings/MappingsEndpointMiddleware.cs
  src/Management/src/EndpointCore/Metrics/MetricsEndpointMiddleware.cs
  src/Management/src/EndpointOwin/Loggers/LoggersEndpointOwinMiddleware.cs
  src/Management/test/EndpointCore.Test/Loggers/EndpointMiddlewareTest.cs
Labels: Component/Logging, ReleaseLine/2.x, ReleaseLine/3.x, Type/bug

#522 Merge from2x
  azure-pipelines.yml
  nuget.config
  src/Configuration/Configuration.sln
  src/Configuration/test/ConfigServer.ITest/ConfigServerConfigurationExtensionsIntegrationTest.cs
  src/Logging/src/DynamicSerilogBase/SerilogConfigurationExtensions.cs
  src/Logging/src/DynamicSerilogBase/SerilogDynamicProvider.cs
  src/Logging/src/DynamicSerilogBase/SerilogHostBuilderExtensions.cs
  src/Logging/src/DynamicSerilogBase/SerilogLoggingBuilderExtensions.cs
  src/Logging/src/DynamicSerilogCore/SerilogWebHostBuilderExtensions.cs
  src/Logging/test/DynamicSerilogBase.Test/SerilogDynamicLoggingBuilderTest.cs
  src/Management/src/EndpointCore/Loggers/LoggersEndpointMiddleware.cs
  src/Management/test/EndpointCore.Test/Loggers/EndpointMiddlewareTest.cs
Labels: ReleaseLine/3.x
