Repository SteeltoeOSS/Steeltoe, pull requests merged in 2020-01, with the labels that each got.

#214 Address "BAD NET NAME" with Windows file shares #202
  src/Common/src/Common.Net/WindowsNetworkFileShare.cs
Labels: 2.x, Common

#213 Shutdown Hystrix metrics threads [#189]
  src/CircuitBreaker/src/HystrixAutofac/HystrixRequestContextModule.cs
  src/CircuitBreaker/src/HystrixBase/Util/HystrixShutdown.cs
  src/CircuitBreaker/src/HystrixCore/HystrixRequestContextMiddleware.cs
  src/CircuitBreaker/src/HystrixCore/Steeltoe.CircuitBreaker.HystrixCore.csproj
  src/CircuitBreaker/test/HystrixCore.Test/HystrixRequestContextMiddlewareTest.cs
Labels: 2.x, CircuitBreaker, bug

#223 Fix usages of IPAddress.Parse.
  src/Common/src/Common/Net/InetUtils.cs
  src/Discovery/src/ConsulBase/Util/ConsulServerUtils.cs
Labels: 2.x, 3.x, Discovery
