Repository SteeltoeOSS/Steeltoe, pull requests merged in 2020-05, with the labels that each got.

#324 Fix IApplicationInstanceInfo bug with Zipkin tracing
  src/Management/src/TracingCore/Steeltoe.Management.TracingCore.csproj
  src/Management/src/TracingCore/TracingServiceCollectionExtensions.cs
  src/Management/test/TaskCore.Test/Steeltoe.Management.TaskCore.Test.csproj
  src/Management/test/TracingBase.Test/Steeltoe.Management.TracingBase.Test.csproj
  src/Management/test/TracingCore.Test/Steeltoe.Management.TracingCore.Test.csproj
  src/Management/test/TracingCore.Test/TracingServiceCollectionExtensionsTest.cs
Labels: 3.x, Management, bug

#329 Address "BAD NET NAME" with Windows file shares
  src/Common/src/Common.Net/WindowsNetworkFileShare.cs
Labels: 3.x, bug

#325 Enable deterministic builds, fix comment
  sharedproject.props
  src/Discovery/src/ConsulBase/Discovery/ConsulDiscoveryOptions.cs
Labels: 2.x, Infrastructure

#332 Fix DeregisterCriticalServiceAfter configuration on ttl healthchecks - Consul
  src/Discovery/src/ConsulBase/Registry/ConsulRegistration.cs
  src/Discovery/test/ConsulBase.Test/Registry/ConsulRegistrationTest.cs
Labels: 3.x, Discovery, bug

#334 Use InetUtils for Discovery
  src/Common/src/Common/Net/InetOptions.cs
  src/Common/src/Common/Net/InetUtils.cs
  src/Discovery/src/ClientAutofac/DiscoveryContainerBuilderExtensions.cs
  src/Discovery/src/ClientCore/DiscoveryServiceCollectionExtensions.cs
  src/Discovery/src/ConsulBase/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/src/EurekaBase/EurekaInstanceConfig.cs
  src/Discovery/test/ClientAutofac.Test/DiscoveryContainerBuilderExtensionsTest.cs
  src/Discovery/test/ClientCore.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/ClientCore.Test/Steeltoe.Discovery.ClientCore.Test.csproj
  src/Discovery/test/ConsulBase.Test/Discovery/ConsulDiscoveryOptionsTest.cs
  src/Discovery/test/ConsulBase.Test/Steeltoe.Discovery.ConsulBase.Test.csproj
  src/Discovery/test/EurekaBase.Test/EurekaInstanceOptionsTest.cs
  src/Discovery/test/EurekaBase.Test/Steeltoe.Discovery.EurekaBase.Test.csproj
  versions.props
Labels: 2.x, Discovery

#337 Use InetUtils for Discovery
  src/Common/src/Common/Net/InetOptions.cs
  src/Common/src/Common/Net/InetUtils.cs
  src/Discovery/src/ClientCore/DiscoveryServiceCollectionExtensions.cs
  src/Discovery/src/ConsulBase/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/src/EurekaBase/EurekaInstanceConfig.cs
  src/Discovery/test/ClientCore.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/ConsulBase.Test/Discovery/ConsulDiscoveryOptionsTest.cs
  src/Discovery/test/EurekaBase.Test/EurekaInstanceOptionsTest.cs
  src/Discovery/test/EurekaBase.Test/Steeltoe.Discovery.EurekaBase.Test.csproj
Labels: 3.x, Discovery
