Repository SteeltoeOSS/Steeltoe, pull requests merged in 2020-08, with the labels that each got.

#396 DistributedCacheEntryOptions for LoadBalancer
  src/Common/src/Common/Discovery/IServiceInstanceProviderExtensions.cs
  src/Common/src/Common/LoadBalancer/RandomLoadBalancer.cs
  src/Common/src/Common/LoadBalancer/RoundRobinLoadBalancer.cs
  src/Discovery/src/ClientCore/DiscoveryServiceCollectionExtensions.cs
  src/Discovery/src/ConsulBase/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/src/EurekaBase/EurekaClientOptions.cs
Labels: 2.x, Common, Discovery

#395 Fix KubernetesBase to KubernetesCore
  src/Management/Management.sln
  src/Management/src/KubernetesCore/HostBuilderExtensions.cs
  src/Management/src/KubernetesCore/KubernetesActuatorsStartupFilter.cs
  src/Management/src/KubernetesCore/KubernetesInfoContributor.cs
  src/Management/src/KubernetesCore/ServiceCollectionExtensions.cs
  src/Management/src/KubernetesCore/Steeltoe.Management.KubernetesCore.csproj
  src/Management/test/KubernetesCore.Test/FakePodUtilities.cs
  src/Management/test/KubernetesCore.Test/KubernetesInfoContributorTest.cs
  src/Management/test/KubernetesCore.Test/ServiceCollectionExtensionsTest.cs
  src/Management/test/KubernetesCore.Test/Steeltoe.Management.KubernetesCore.Test.csproj
  src/Steeltoe.All.sln
Labels: 3.x, Management

#397 Load Balancer Configurable Cache Options
  src/Common/src/Common/Discovery/IServiceInstanceProviderExtensions.cs
  src/Common/src/Common/LoadBalancer/RandomLoadBalancer.cs
  src/Common/src/Common/LoadBalancer/RoundRobinLoadBalancer.cs
  src/Discovery/src/ConsulBase/ConsulDiscoveryClientExtension.cs
  src/Discovery/src/ConsulBase/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/src/EurekaBase/EurekaClientOptions.cs
  src/Discovery/src/EurekaBase/EurekaDiscoveryClientExtension.cs
  src/Discovery/src/KubernetesBase/Discovery/KubernetesDiscoveryOptions.cs
  src/Discovery/src/KubernetesBase/KubernetesDiscoveryClientExtension.cs
Labels: 3.x, Common, Discovery

#406 always remove default ConsoleLoggerProvider
  src/Logging/Logging.sln
  src/Logging/src/DynamicLogger/DynamicLoggerHostBuilderExtensions.cs
  src/Logging/src/DynamicLogger/DynamicLoggingBuilder.cs
  src/Management/src/CloudFoundryCore/CloudFoundryHostBuilderExtensions.cs
  src/Management/src/KubernetesCore/HostBuilderExtensions.cs
Labels: 3.x, Logging

#405 Add new MySqlConnector namespace
  src/Connectors/src/ConnectorBase/Relational/MySql/MySqlTypeLocator.cs
Labels: 2.x, Connectors

#404 FindAssembliesWithAttribute<T> should load assemblies with <T> that haven't been loaded yet
  src/Common/src/Common/Reflection/ReflectionHelpers.cs
  src/Common/src/Common/Steeltoe.Common.csproj
  versions.props
Labels: 3.x, Connectors, bug

#409 Reuse HttpClient more often
  src/Common/src/Common.Http/HttpClientHelper.cs
  src/Common/src/Common.Http/Steeltoe.Common.Http.csproj
  src/Configuration/src/ConfigServerBase/ConfigServerConfigurationProvider.cs
  src/Discovery/src/EurekaBase/Transport/EurekaHttpClient.cs
  src/Management/src/EndpointBase/CloudFoundry/SecurityBase.cs
  src/Management/src/EndpointCore/SpringBootAdminClient/BootAdminAppBuilderExtensions.cs
  src/Management/src/ExporterBase/Metrics/CloudFoundryForwarder/CloudFoundryForwarderExporter.cs
  src/Security/src/Authentication.CloudFoundryBase/TokenExchanger.cs
Labels: 2.x, Configuration, Discovery, Management, Security

#408 Fix discovery client assemblies not found with reflection approach
  src/Discovery/src/ClientBase/DiscoveryClientAssemblyAttribute.cs
  src/Discovery/src/ClientBase/DiscoveryHostBuilderExtensions.cs
  src/Discovery/src/ClientBase/DiscoveryServiceCollectionExtensions.cs
  src/Discovery/src/ClientCore/DiscoveryWebHostBuilderExtensions.cs
  src/Discovery/src/Consul/Properties/AssemblyInfo.cs
  src/Discovery/src/Eureka/Properties/AssemblyInfo.cs
  src/Discovery/src/Kubernetes/Properties/AssemblyInfo.cs
Labels: 3.x, Discovery, bug

#415 RabbitMQ updates for 3.0 final
  src/Integration/src/Abstractions/Steeltoe.Integration.Abstractions.csproj
  src/Integration/src/IntegrationBase/Steeltoe.Integration.IntegrationBase.csproj
  src/Messaging/src/RabbitMQ/Config/AbstractRabbitListenerContainerFactory.cs
  src/Messaging/src/RabbitMQ/Config/RabbitOptions.cs
  src/Messaging/src/RabbitMQ/Connection/AbstractConnectionFactory.cs
  src/Messaging/src/RabbitMQ/Connection/CachingConnectionFactory.cs
  src/Messaging/src/RabbitMQ/Core/RabbitTemplate.cs
  src/Messaging/src/RabbitMQ/Extensions/RabbitServicesExtensions.cs
  src/Messaging/src/RabbitMQ/Listener/Adapters/IReplyPostProcessor.cs
  src/Messaging/src/RabbitMQ/Listener/BlockingQueueConsumer.cs
  src/Messaging/src/RabbitMQ/Listener/ConditionalRejectingErrorHandler.cs
  src/Messaging/src/RabbitMQ/Listener/IRabbitListenerErrorHandler.cs
  src/Messaging/src/RabbitMQ/Steeltoe.Messaging.RabbitMQ.csproj
  src/Messaging/src/RabbitMQ/Support/DefaultMessageHeadersConverter.cs
  src/Messaging/test/RabbitMQ.Test/Attributes/ComplexTypeJsonIntegrationTest.cs
  src/Messaging/test/RabbitMQ.Test/Attributes/EnableRabbitIntegrationTest.cs
  src/Messaging/test/RabbitMQ.Test/Connection/CachingConnectionFactoryIntegrationTests.cs
  src/Messaging/test/RabbitMQ.Test/Connection/CachingConnectionFactoryTest.cs
  src/Messaging/test/RabbitMQ.Test/Core/RabbitTemplateIntegrationTest.cs
  src/Messaging/test/RabbitMQ.Test/Listener/BlockingQueueConsumerIntegrationTest.cs
  src/Messaging/test/RabbitMQ.Test/Listener/ListenFromAutoDeleteQueueTest.cs
  src/Messaging/test/RabbitMQ.Test/MockRabbitBasicProperties.cs
Labels: 3.x, Messaging

#416 Target netstandard where possible
  src/Common/src/Common.RetryPolly/Steeltoe.Common.RetryPolly.csproj
  src/Common/src/Common.Security/Steeltoe.Common.Security.csproj
  src/Configuration/src/ConfigServerBase/Steeltoe.Extensions.Configuration.ConfigServerBase.csproj
  src/Discovery/src/ClientBase/Steeltoe.Discovery.ClientBase.csproj
  src/Logging/src/DynamicLogger/Steeltoe.Extensions.Logging.DynamicLogger.csproj
  src/Logging/src/DynamicSerilogCore/Steeltoe.Extensions.Logging.DynamicSerilogCore.csproj
  src/Management/src/EndpointBase/Steeltoe.Management.EndpointBase.csproj
  src/Messaging/src/Abstractions/Steeltoe.Messaging.Abstractions.csproj
  src/Security/src/Authentication.CloudFoundryBase/Steeltoe.Security.Authentication.CloudFoundryBase.csproj
Labels: 3.x

#412 Re-use Httpclients
  src/Common/src/Common.Http/HttpClientHelper.cs
  src/Configuration/src/ConfigServerBase/ConfigServerConfigurationProvider.cs
  src/Discovery/src/Eureka/Transport/EurekaHttpClient.cs
  src/Management/src/EndpointBase/CloudFoundry/SecurityBase.cs
  src/Management/src/EndpointCore/SpringBootAdminClient/SpringBootAdminApplicationBuilderExtensions.cs
  src/Management/src/EndpointCore/SpringBootAdminClient/SpringBootAdminClientOptions.cs
  src/Security/src/Authentication.CloudFoundryBase/CloudFoundryTokenKeyResolver.cs
Labels: 3.x, Common, Configuration, Discovery, Management, Security

#417 Action<KubernetesClientConfiguration> param should be optional
  src/Configuration/src/KubernetesCore/KubernetesHostBuilderExtensions.cs
Labels: 3.x, Configuration

#419 fix Availability, less BuildInfo
  src/Management/src/CloudFoundryCore/CloudFoundryActuatorsStartupFilter.cs
  src/Management/src/EndpointBase/Info/Contributor/BuildInfoContributor.cs
  src/Management/src/EndpointCore/AllActuatorsStartupFilter.cs
  src/Management/src/EndpointCore/Health/HealthStartupFilter.cs
  src/Management/src/KubernetesCore/KubernetesActuatorsStartupFilter.cs
Labels: 3.x, Management, bug

#425 Add missing ILoadBalancer parameter to http handlers
  src/Common/src/Common.Http/Discovery/DiscoveryHttpClientHandler.cs
  src/Common/src/Common.Http/Discovery/DiscoveryHttpMessageHandler.cs
Labels: 3.x, Common, Discovery
