Repository SteeltoeOSS/Steeltoe, pull requests merged in 2020-12, with the labels that each got.

#536 Get Steeltoe version number without using file location
  src/Common/src/Common.Http/HttpClientHelper.cs
Labels: Component/Common, ReleaseLine/3.x

#541 Include Port in Hypermedia response when appropriate
  src/Management/src/EndpointCore/Hypermedia/ActuatorHypermediaEndpointMiddleware.cs
  src/Management/src/EndpointOwin/CloudFoundry/CloudFoundryEndpointOwinMiddleware.cs
  src/Management/src/EndpointOwin/EndpointOwinMiddleware.cs
  src/Management/src/EndpointOwin/Hypermedia/ActuatorHypermediaEndpointOwinMiddleware.cs
  src/Management/src/EndpointWeb/Handler/ActuatorHandler.cs
  src/Management/src/EndpointWeb/Handler/ActuatorHypermediaHandler.cs
  src/Management/src/EndpointWeb/Handler/CloudFoundryHandler.cs
  src/Management/src/EndpointWeb/Properties/AssemblyInfo.cs
  src/Management/test/EndpointCore.Test/Hypermedia/EndpointMiddlewareTest.cs
  src/Management/test/EndpointOwin.Net4Test/EndpointOwinMiddlewareTest.cs
  src/Management/test/EndpointWeb.Net4Test/Handler/ActuatorHandlerTest.cs
  src/Management/test/EndpointWeb.Net4Test/Handler/ActuatorHypermediaHandlerTest.cs
Labels: Component/Management, ReleaseLine/2.x

#528 Fix for service registration in services
  src/Management/src/EndpointCore/Metrics/EndpointServiceCollectionExtensions.cs
Labels: Component/Management, ReleaseLine/3.x, Type/bug

#540 Setting Consul:Discovery:Port prevents use of ASP.NET Core Urls
  src/Discovery/src/Consul/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/test/ClientBase.Test/DiscoveryServiceCollectionExtensionsTest.cs
Labels: Component/Discovery, ReleaseLine/3.x

#535 Use JsonSerializer instead of BinaryFormatter
  src/Common/src/Common/Discovery/IServiceInstanceProviderExtensions.cs
  src/Common/src/Common/Discovery/SerializableIServiceInstance.cs
  src/Common/src/Common/Steeltoe.Common.csproj
  versions.props
Labels: Component/Common, Component/Discovery, ReleaseLine/3.x

#534 Add support for EF Core 5.0
  src/Common/src/Common/Extensions/UriExtensions.cs
  src/Connectors/src/Connector.EFCore/EntityFrameworkCoreTypeLocator.cs
  src/Connectors/src/Connector.EFCore/MySqlDbContextOptionsExtensions.cs
  src/Connectors/test/Connector.EFCore.Test/EntityFrameworkCoreTypeLocatorTest.cs
  src/Connectors/test/Connector.EFCore.Test/MySqlDbContextOptionsExtensionsTest.cs
  src/Connectors/test/Connector.EFCore.Test/SqlServerDbContextOptionsExtensionsTest.cs
  src/Connectors/test/Connector.EFCore.Test/Steeltoe.Connector.EFCore.Test.csproj
  versions.props
Labels: Component/Connectors, ReleaseLine/3.x, Type/enhancement

#539 Discovery Runtime/Deployed Configuration Hints
  src/Discovery/src/ClientBase/DiscoveryHostBuilderExtensions.cs
  src/Discovery/src/ClientBase/Properties/AssemblyInfo.cs
  src/Discovery/src/ClientBase/SimpleClients/NoOpDiscoveryClient.cs
  src/Discovery/src/ClientBase/SimpleClients/NoOpDiscoveryClientExtension.cs
  src/Discovery/src/ClientCore/DiscoveryWebHostBuilderExtensions.cs
  src/Discovery/src/Consul/ConsulDiscoveryClientExtension.cs
  src/Discovery/src/Consul/ConsulPostConfigurer.cs
  src/Discovery/src/Consul/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/src/Eureka/EurekaPostConfigurer.cs
  src/Discovery/test/ClientBase.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/ClientBase.Test/NoOpDiscoveryClientTest.cs
  src/Discovery/test/ClientBase.Test/Steeltoe.Discovery.ClientBase.Test.csproj
  src/Discovery/test/Consul.Test/ConsulPostConfigurerTest.cs
  src/Discovery/test/Eureka.Test/EurekaPostConfigurerTest.cs
Labels: Component/Discovery, ReleaseLine/3.x

#549 UseCloudHosting with 'port;port' in env var PORT
  src/Common/src/Common.Hosting/HostBuilderExtensions.cs
  src/Common/test/Common.Hosting.Test/HostBuilderExtensionsTest.cs
Labels: Component/Common, ReleaseLine/2.x

#547 Publish single file
  src/Common/src/Common/Reflection/ReflectionHelpers.cs
  src/Connectors/src/CloudFoundry/CloudFoundryConnector.cs
  src/Discovery/src/ClientBase/DiscoveryServiceCollectionExtensions.cs
  src/Discovery/test/ClientBase.Test/DiscoveryServiceCollectionExtensionsTest.cs
Labels: Component/Common, Component/Connectors, Component/Discovery, ReleaseLine/3.x

#550 Url (Port) handling updates from 2.x to 3.x
  src/Common/src/Common.Hosting/HostBuilderExtensions.cs
  src/Common/test/Common.Hosting.Test/HostBuilderExtensionsTest.cs
  src/Management/src/EndpointCore/Hypermedia/ActuatorHypermediaEndpointMiddleware.cs
  src/Management/test/EndpointCore.Test/Hypermedia/EndpointMiddlewareTest.cs
Labels: Component/Common, Component/Management, ReleaseLine/3.x

#551 Perform health checks in parallel, return details under details property
  src/Management/src/EndpointBase/Health/DefaultHealthAggregator.cs
  src/Management/src/EndpointBase/Health/HealthEndpoint.cs
  src/Management/src/EndpointBase/Health/HealthJsonConverter.cs
  src/Management/src/EndpointCore/Health/HealthCheckExtensions.cs
  src/Management/src/EndpointCore/Health/HealthRegistrationsAggregator.cs
  src/Management/test/EndpointBase.Test/Health/HealthTest.cs
  src/Management/test/EndpointCore.Test/Health/EndpointMiddlewareTest.cs
Labels: Component/Management, ReleaseLine/2.x

#552 DetermineAddresses returns null when none configured
  src/Messaging/src/RabbitMQ/Config/RabbitOptions.cs
Labels: Component/Messaging, ReleaseLine/3.x
