Repository SteeltoeOSS/Steeltoe, pull requests merged in 2020-09, with the labels that each got.

#431 Prometheus telegraf
  src/Management/src/OpenTelemetryBase/Metrics/Exporter/PrometheusExporterExtensions.cs
Labels: 3.x, Management

#440 Write lowercase values with BooleanStringJsonConverter
  src/Common/src/Common.Http/Serialization/BoolStringJsonConverter.cs
Labels: 3.x, Discovery, bug

#437 Switch to Coverlet.Collectors
  DeterministicBuild.targets
  azure-pipelines.yml
  coverlet.runsettings
  nuget.config
  sharedproject.props
  sharedtest.props
  src/Connectors/test/GemFireConnector.Net4Test/GemFireConnectorFactoryTest.cs
  versions.props
Labels: 2.x, Infrastructure, test-coverage

#446 Support a generic Config Server binding service name/type
  src/Configuration/src/ConfigServerBase/ConfigurationSettingsHelper.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationBuilderExtensionsTest.cs
Labels: 2.x, Configuration, enhancement

#448 Add InitializeAsync()
  azure-pipelines.yml
  src/Discovery/src/EurekaBase/DiscoveryClient.cs
Labels: 2.x, Discovery

#445 allow registration using ASP.NET Core urls
  azure-pipelines.yml
  src/Discovery/src/ClientCore/ConfigurationUrlHelpers.cs
  src/Discovery/src/ClientCore/DiscoveryServiceCollectionExtensions.cs
  src/Discovery/src/ConsulBase/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/src/EurekaBase/EurekaInstanceOptions.cs
  src/Discovery/src/EurekaBase/EurekaPostConfigurer.cs
  src/Discovery/test/ClientCore.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/EurekaBase.Test/EurekaInstanceOptionsTest.cs
  src/Discovery/test/EurekaBase.Test/EurekaPostConfigurerTest.cs
  src/Discovery/test/EurekaBase.Test/Steeltoe.Discovery.EurekaBase.Test.csproj
Labels: 2.x, Discovery, enhancement

#450 Updates from 2x
  DeterministicBuild.targets
  azure-pipelines.yml
  coverlet.runsettings
  nuget.config
  sharedproject.props
  sharedtest.props
  src/Configuration/src/ConfigServerBase/ConfigurationSettingsHelper.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationBuilderExtensionsTest.cs
  src/Discovery/src/ClientBase/ConfigurationUrlHelpers.cs
  src/Discovery/src/Consul/ConsulDiscoveryClientExtension.cs
  src/Discovery/src/Consul/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/src/Eureka/DiscoveryClient.cs
  src/Discovery/src/Eureka/EurekaInstanceOptions.cs
  src/Discovery/src/Eureka/EurekaPostConfigurer.cs
  src/Discovery/test/ClientBase.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/Eureka.Test/EurekaInstanceOptionsTest.cs
  src/Management/src/EndpointBase/EndpointExtensions.cs
  src/Management/src/EndpointBase/Health/HealthEndpointOptions.cs
  src/Management/src/EndpointCore/Health/HealthEndpointMiddleware.cs
  src/Management/test/EndpointCore.Test/Health/EndpointMiddlewareTest.cs
  src/Steeltoe.All.sln
  versions.props
Labels: 3.x

#452 Discovery clients can target netstandard 2.0
  src/Discovery/src/Consul/Discovery/ConsulHeartbeatOptions.cs
  src/Discovery/src/Consul/Steeltoe.Discovery.Consul.csproj
  src/Discovery/src/Eureka/Steeltoe.Discovery.Eureka.csproj
  src/Discovery/src/Eureka/Transport/EurekaHttpClient.cs
  src/Discovery/src/Kubernetes/Discovery/KubernetesDiscoveryClient.cs
  src/Discovery/src/Kubernetes/Steeltoe.Discovery.Kubernetes.csproj
Labels: 3.x, Discovery

#455 Expand on #418
  src/Management/src/EndpointBase/Health/HealthEndpointOptions.cs
  src/Management/src/EndpointBase/IEndpointOptions.cs
  src/Management/src/EndpointBase/IManagementOptions.cs
  src/Management/src/EndpointBase/ManagementEndpointOptions.cs
  src/Management/src/EndpointBase/ManagementOptions.cs
  src/Management/src/EndpointCore/CloudFoundry/CloudFoundrySecurityMiddleware.cs
  src/Management/src/EndpointCore/Health/HealthEndpointMiddleware.cs
  src/Management/src/EndpointOwin/CloudFoundry/CloudFoundrySecurityOwinMiddleware.cs
  src/Management/src/EndpointOwin/Health/HealthEndpointOwinMiddleware.cs
  src/Management/src/EndpointWeb/Handler/HealthHandler.cs
  src/Management/src/EndpointWeb/Security/CloudFoundrySecurity.cs
  src/Management/test/EndpointCore.Test/CloudFoundry/CloudFoundrySecurityMiddlewareTest.cs
  src/Management/test/EndpointCore.Test/Health/EndpointMiddlewareTest.cs
  src/Management/test/EndpointWeb.Net4Test/ActuatorHandlerTest.cs
  src/Management/test/EndpointWeb.Net4Test/CloudFoundrySecurityTests.cs
  src/Management/test/OpenCensus.Test/Steeltoe.Management.OpenCensus.Test.csproj
Labels: Component/Management, ReleaseLine/2.x
