Repository SteeltoeOSS/Steeltoe, pull requests merged in 2020-06, with the labels that each got.

#339 Update Consul dependency on System.Net.Http.WinHttpHandler
  src/Discovery/src/ConsulBase/Steeltoe.Discovery.ConsulBase.csproj
  versions.props
Labels: 2.x, 3.x, Discovery

#347 use codecov's bash uploader
  azure-pipelines.yml
Labels: 2.x

#346 Fix bug with App Crash when Consul host unreachable
  src/Discovery/src/ConsulBase/Discovery/TtlScheduler.cs
Labels: 2.x, Discovery, bug

#348 light enhancements for RegisterSpringBootAdmin
  src/Common/src/Common/ApplicationInstanceInfo.cs
  src/Common/src/Common/IServiceProviderExtensions.cs
  src/Management/src/EndpointCore/SpringBootAdminClient/Application.cs
  src/Management/src/EndpointCore/SpringBootAdminClient/SpringBootAdminApplicationBuilderExtensions.cs
  src/Management/src/EndpointCore/SpringBootAdminClient/SpringBootAdminClientOptions.cs
  src/Management/test/EndpointCore.Test/SpringBootAdminClient/SpringBootAdminAppBuilderExtensionsTest.cs
  src/Management/test/EndpointCore.Test/SpringBootAdminClient/SpringBootAdminClientOptionsTest.cs
  src/Management/test/EndpointCore.Test/SpringBootAdminClient/SpringBootAdminClientTests.cs
  src/Management/test/EndpointCore.Test/SpringBootAdminClient/TestStartup.cs
  src/Management/test/EndpointCore.Test/Steeltoe.Management.EndpointCore.Test.csproj
Labels: 3.x, Management

#344 remove redundant state machines
  src/Discovery/src/ConsulBase/Discovery/ConsulHealthContributor.cs
  src/Discovery/src/ConsulBase/Discovery/TtlScheduler.cs
  src/Discovery/src/ConsulBase/Registry/ConsulServiceRegistry.cs
  src/Discovery/src/EurekaBase/Transport/EurekaHttpClient.cs
  src/Integration/src/Base/Endpoint/AbstractEndpoint.cs
  src/Integration/src/Base/Endpoint/EventDrivenConsumerEndpoint.cs
  src/Integration/src/Base/Handler/ServiceActivatingHandler.cs
  src/Management/src/EndpointCore/CloudFoundry/CloudFoundryEndpointMiddleware.cs
  src/Management/src/EndpointCore/CloudFoundry/CloudFoundrySecurityMiddleware.cs
  src/Management/src/EndpointCore/DbMigrations/DbMigrationsEndpointMiddleware.cs
  src/Management/src/EndpointCore/Env/EnvEndpointMiddleware.cs
  src/Management/src/EndpointCore/Health/HealthEndpointMiddleware.cs
  src/Management/src/EndpointCore/HeapDump/HeapDumpEndpointMiddleware.cs
  src/Management/src/EndpointCore/Hypermedia/ActuatorHypermediaEndpointMiddleware.cs
  src/Management/src/EndpointCore/Info/InfoEndpointMiddleware.cs
  src/Management/src/EndpointCore/Loggers/LoggersEndpointMiddleware.cs
  src/Management/src/EndpointCore/Mappings/MappingsEndpointMiddleware.cs
  src/Management/src/EndpointCore/Metrics/MetricsEndpointMiddleware.cs
  src/Management/src/EndpointCore/Metrics/Prometheus/PrometheusScraperEndpointMiddleware.cs
  src/Management/src/EndpointCore/Refresh/RefreshEndpointMiddleware.cs
  src/Management/src/EndpointCore/ThreadDump/ThreadDumpEndpointMiddleware.cs
  src/Management/src/EndpointCore/ThreadDump/ThreadDumpEndpointMiddleware_v2.cs
  src/Management/src/EndpointCore/Trace/HttpTraceEndpointMiddleware.cs
  src/Management/src/EndpointCore/Trace/TraceEndpointMiddleware.cs
  src/Messaging/src/Base/Core/AbstractDestinationResolvingMessagingTemplate.cs
  src/Messaging/src/Base/Core/AbstractMessageSendingTemplate.cs
  src/Messaging/src/RabbitMQ/Core/RabbitTemplate.cs
  src/Messaging/test/Base.Test/Core/DestinationResolvingMessagingTemplateTest.cs
  src/Security/src/Authentication.CloudFoundryBase/TokenExchanger.cs
  src/Stream/src/Base/Binder/AbstractMessageChannelBinder.cs
  src/Stream/src/Base/Binder/DefaultBinding.cs
  src/Stream/src/Base/Binder/DefaultPollableMessageSource.cs
Labels: 3.x, Discovery

#352 Scopes string is incorrectly formed when required RequiredScopes is s…
  src/Security/src/Authentication.CloudFoundryBase/TokenExchanger.cs
  src/Security/test/Authentication.CloudFoundryBase.Test/TokenExchangerTest.cs
Labels: 2.x, Security, bug

#353 (WCF) Always GetTokenValidationParameters, now before checking serviceinfo
  src/Security/src/Authentication.CloudFoundryWcf/CloudFoundryExtensions.cs
  src/Security/src/Authentication.CloudFoundryWcf/CloudFoundryOptions.cs
  src/Security/src/Authentication.CloudFoundryWcf/CloudFoundryOptionsConfigurer.cs
  src/Security/test/Authentication.CloudFoundryWcf.Net4Test/CloudFoundryOptionsConfigurerTest.cs
Labels: 2.x, Security, bug

#356 keep IConnection between RMQ health check requests
  src/Connectors/src/ConnectorBase/Queue/RabbitMQHealthContributor.cs
  src/Connectors/src/ConnectorCore/RabbitMQProviderServiceCollectionExtensions.cs
  src/Connectors/test/ConnectorBase.Test/Queue/RabbitMQHealthContributorTest.cs
  src/Connectors/test/ConnectorBase.Test/Steeltoe.CloudFoundry.ConnectorBase.Test.csproj
Labels: 2.x, Connectors, bug

#359 Rename HostBuilder.AddCloudFoundry to .AddCloudFoundryConfiguration
  src/Configuration/src/CloudFoundryCore/CloudFoundryHostBuilderExtensions.cs
  src/Configuration/test/CloudFoundryCore.Test/CloudFoundryHostBuilderExtensionsTest.cs
Labels: 2.x, Configuration
