Repository SteeltoeOSS/Steeltoe, pull requests merged in 2021-06, with the labels that each got.

#676 Handle space and plus in user/password
  azure-pipelines.yml
  nuget.config
  src/Common/test/Common.Security.Test/PemConfigurationExtensionsTest.cs
  src/Configuration/test/ConfigServer.ITest/ConfigServerConfigurationExtensionsIntegrationTest.cs
  src/Connectors/src/ConnectorBase/Services/UriInfo.cs
  src/Connectors/test/ConnectorBase.Test/Services/SqlServerInfoTest.cs
Labels: Component/Connectors, ReleaseLine/2.x, Type/bug

#672 Reduce possibility of duplicate keys for health checkers
  src/Management/src/EndpointBase/Health/DefaultHealthAggregator.cs
  src/Management/test/EndpointBase.Test/Health/DefaultHealthAggregatorTest.cs
Labels: Component/Management, ReleaseLine/3.x, Type/bug

#680 Merge from 2.x to main
  src/Connectors/src/Abstractions/Services/PostgresServiceInfo.cs
  src/Connectors/src/Abstractions/Services/UriInfo.cs
  src/Connectors/src/Abstractions/Services/UriServiceInfo.cs
  src/Connectors/src/Connector.EFCore/EntityFrameworkCoreTypeLocator.cs
  src/Connectors/test/Connector.EF6Core.Test/BadMySqlDbContext.cs
  src/Connectors/test/Connector.EF6Core.Test/Good2MySqlDbContext.cs
  src/Connectors/test/Connector.EF6Core.Test/GoodMySqlDbContext.cs
  src/Connectors/test/Connector.EF6Core.Test/MySqlDbContextConnectorFactoryTest.cs
  src/Connectors/test/Connector.EF6Core.Test/MySqlDbContextServiceCollectionExtensionsTest.cs
  src/Connectors/test/Connector.EF6Core.Test/MySqlTypeLocatorTest.cs
  src/Connectors/test/Connector.EF6Core.Test/OracleDbContextServiceCollectionExtensionsTest.cs
  src/Connectors/test/Connector.EF6Core.Test/OracleDbTypeLocatorTest.cs
  src/Connectors/test/Connector.EF6Core.Test/Steeltoe.Connector.EF6Core.Test.csproj
  src/Connectors/test/Connector.EFCore.Test/EntityFrameworkCoreTypeLocatorTest.cs
  src/Connectors/test/Connector.EFCore.Test/MySqlDbContextOptionsExtensionsTest.cs
  src/Connectors/test/Connector.EFCore.Test/MySqlTypeLocatorTest.cs
  src/Connectors/test/Connector.EFCore.Test/Steeltoe.Connector.EFCore.Test.csproj
  src/Connectors/test/ConnectorBase.Test/Services/SqlServerInfoTest.cs
  src/Connectors/test/ConnectorCore.Test/MySqlProviderServiceCollectionExtensionsTest.cs
  src/Connectors/test/ConnectorCore.Test/Steeltoe.Connector.ConnectorCore.Test.csproj
  versions.props
Labels: Component/Connectors, ReleaseLine/3.x

#682 RabbitListenerErrorHandler Async Context
  src/Messaging/src/MessagingBase/Handler/Invocation/InvocableHandlerMethod.cs
  src/Messaging/test/RabbitMQ.Test/Attributes/AsyncListenerTest.cs
Labels: Component/Messaging, ReleaseLine/3.x, Type/bug

#687 RabbitMQ Host
  src/Messaging/Messaging.sln
  src/Messaging/src/RabbitMQ/Host/RabbitHost.cs
  src/Messaging/src/RabbitMQ/Host/RabbitHostBuilder.cs
  src/Messaging/src/RabbitMQ/Steeltoe.Messaging.RabbitMQ.csproj
  src/Messaging/test/RabbitMQ.Test/Host/MockRabbitHostedService.cs
  src/Messaging/test/RabbitMQ.Test/Host/RabbitHostTest.cs
  src/Stream/Stream.sln
  src/Stream/src/StreamBase/Messaging/DirectWithAttributesChannel.cs
Labels: Component/Messaging, Type/enhancement

#690 Improve Pipeline Reliability
  azure-pipelines.yml
  src/Common/test/Common.Security.Test/ConfigurationExtensionsTest.cs
  src/Messaging/test/RabbitMQ.Test/Connection/RoutingConnectionFactoryTest.cs
Labels: ReleaseLine/3.x, Type/infrastructure

#691 RabbitTemplate - Fix resolution of mq connection factory… (#657)
  src/Messaging/src/RabbitMQ/Core/RabbitTemplate.cs
  src/Messaging/test/RabbitMQ.Test/Core/RabbitTemplateSimpleRoutingConnectionFactoryTest.cs
Labels: Component/Messaging, ReleaseLine/3.x, Type/bug

#692 RabbitHost CreateDefaultBuilder Command Line Args
  src/Messaging/src/RabbitMQ/Host/RabbitHost.cs
  src/Messaging/test/RabbitMQ.Test/Host/RabbitHostTest.cs
Labels: Component/Messaging, ReleaseLine/3.x, Type/enhancement

#695 Fix IDisposable usage
  src/Messaging/test/RabbitMQ.Test/Core/RabbitAdminIntegrationTest.cs
  src/Stream/src/Abstractions/Binder/IBinder.cs
  src/Stream/src/BinderRabbitMQ/Provisioning/RabbitExchangeQueueProvisioner.cs
  src/Stream/src/BinderRabbitMQ/RabbitMessageChannelBinder.cs
  src/Stream/src/StreamBase/Binder/AbstractBinder.cs
  src/Stream/src/StreamBase/Binder/AbstractMessageChannelBinder.cs
  src/Stream/src/StreamBase/Binder/DefaultBinderFactory.cs
  src/Stream/src/StreamBase/Binding/IStreamListenerResultAdapter.cs
  src/Stream/src/StreamBase/Binding/MessageChannelStreamListenerResultAdapter.cs
  src/Stream/test/BinderTests/AbstractTestBinder.cs
  src/Stream/test/StubBinder1/StubBinder1.cs
  src/Stream/test/StubBinder2/StubBinder2.cs
  src/Stream/test/TestBinder/TestChannelBinder.cs
Labels: Component/Stream

#697 Update RabbitListenerDeclareAtrributeProcessor.cs
  src/Messaging/src/RabbitMQ/Config/RabbitListenerDeclareAtrributeProcessor.cs
  src/Messaging/test/RabbitMQ.Test/Attributes/RabbitListenerAttributeProcessorTest.cs
Labels: Component/Messaging, ReleaseLine/3.x, Type/bug

#701 Rename RabbitHost -> RabbitMQHost
  src/Messaging/src/RabbitMQ/Host/RabbitMQHost.cs
  src/Messaging/src/RabbitMQ/Host/RabbitMQHostBuilder.cs
  src/Messaging/test/RabbitMQ.Test/Host/RabbitMQHostTest.cs
Labels: Component/Messaging, ReleaseLine/3.x, Type/enhancement
