Repository SteeltoeOSS/Steeltoe, pull requests merged in 2021-08, with the labels that each got.

#744 RabbitMQ Messaging -> Connector Scope
  src/Messaging/src/RabbitMQ/Extensions/RabbitServicesExtensions.cs
  src/Messaging/test/RabbitMQ.Test/Host/RabbitMQHostTest.cs
Labels: Component/Messaging

#743 Apply management path options to eureka config if found
  src/Configuration/src/ConfigServerBase/Steeltoe.Extensions.Configuration.ConfigServerBase.csproj
  src/Discovery/src/ClientCore/DiscoveryApplicationBuilderExtensions.cs
  src/Discovery/src/Eureka/EurekaDiscoveryClientExtension.cs
  src/Discovery/src/Eureka/Steeltoe.Discovery.Eureka.csproj
  src/Discovery/src/Eureka/Transport/EurekaHttpClient.cs
  src/Discovery/test/Eureka.Test/EurekaDiscoveryClientBuilderExtensionsTest.cs
  src/Discovery/test/Eureka.Test/Steeltoe.Discovery.Eureka.Test.csproj
Labels: ReleaseLine/3.x, Component/Discovery

#751 Reduce config server-related test failures
  azure-pipelines.yml
  src/Configuration/Configuration.sln
  src/Configuration/test/ConfigServer.ITest/ConfigServerConfigurationExtensionsIntegrationTest.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationProviderTest.cs
Labels: Component/Configuration, ReleaseLine/3.x

#753 Pass HostingEnvironment when bootstrapping config server
  src/Bootstrap/src/Autoconfig/HostBuilderExtensions.cs
  src/Bootstrap/src/Autoconfig/WebHostBuilderExtensions.cs
Labels: Type/bug, Component/Configuration, ReleaseLine/3.x, Component/Bootstrapping

#755 Bring Hystrix config fix to 3.x
  src/CircuitBreaker/src/HystrixBase/HystrixCommandOptions.cs
Labels: Component/CircuitBreaker, ReleaseLine/3.x
