Repository SteeltoeOSS/Steeltoe, pull requests merged in 2021-04, with the labels that each got.

#623 Fix long running tests with timeout
  src/Messaging/src/RabbitMQ/Connection/CachingConnectionFactory.cs
  src/Messaging/src/RabbitMQ/Connection/RabbitUtils.cs
  src/Stream/src/BinderRabbitMQ/RabbitMessageChannelBinder.cs
  src/Stream/test/BinderRabbitMQ.Test/RabbitBinderTests.cs
  src/Stream/test/BinderRabbitMQ.Test/RabbitProxy.cs
  src/Stream/test/BinderRabbitMQ.Test/RabbitTestBinder.cs
Labels: Component/Messaging, ReleaseLine/3.x

#618 PERF: Change InvocableHandlerMethod to use DynamicMethod invocations [#614]
  src/Messaging/src/Abstractions/Handler/Invocation/IInvocableHandlerMethod.cs
  src/Messaging/src/MessagingBase/Handler/HandlerMethod.cs
  src/Messaging/src/MessagingBase/Handler/Invocation/AbstractMethodMessageHandler.cs
  src/Messaging/src/MessagingBase/Handler/Invocation/InvocableHandlerMethod.cs
  src/Messaging/src/RabbitMQ/Listener/Adapters/DelegatingInvocableHandler.cs
  src/Messaging/src/RabbitMQ/Listener/Adapters/HandlerAdapter.cs
  src/Messaging/test/MessagingBase.Test/Handler/Invocation/InvocableHandlerMethodTest.cs
Labels: Component/Messaging, ReleaseLine/3.x

#628 RabbitMQ Connector -> ConnectionFactory/Options Integration
  src/Messaging/Messaging.sln
  src/Messaging/src/RabbitMQ/Extensions/RabbitServicesExtensions.cs
  src/Messaging/test/RabbitMQ.Test/Extensions/RabbitServiceExtensionsTest.cs
  src/Messaging/test/RabbitMQ.Test/Steeltoe.Messaging.RabbitMQ.Test.csproj
Labels: Component/Messaging, Type/enhancement

#630 RabbitMQ Test Dependency
  src/Messaging/Messaging.sln
  src/Messaging/test/RabbitMQ.Test/Extensions/RabbitServiceExtensionsTest.cs
  src/Messaging/test/RabbitMQ.Test/Steeltoe.Messaging.RabbitMQ.Test.csproj
Labels: Component/Messaging, Type/enhancement

#632 Add SpringBootEnv Provider
  azure-pipelines.yml
  src/Configuration/Configuration.sln
  src/Configuration/src/SpringBootBase/Properties/AssemblyInfo.cs
  src/Configuration/src/SpringBootBase/README.md
  src/Configuration/src/SpringBootBase/SpringBootConfigurationBuilderExtensions.cs
  src/Configuration/src/SpringBootBase/SpringBootEnvProvider.cs
  src/Configuration/src/SpringBootBase/SpringBootEnvSource.cs
  src/Configuration/src/SpringBootBase/Steeltoe.Extensions.Configuration.SpringBootBase.csproj
  src/Configuration/test/SpringBootBase.Test/SpringBootConfigurationBuilderExtensionsTest.cs
  src/Configuration/test/SpringBootBase.Test/SpringBootEnvProviderTest.cs
  src/Configuration/test/SpringBootBase.Test/SpringBootEnvSourceTest.cs
  src/Configuration/test/SpringBootBase.Test/Steeltoe.Extensions.Configuration.SpringBootBase.Test.csproj
  src/Configuration/test/SpringBootBase.Test/xunit.runner.json
  src/Steeltoe.All.sln
Labels: Component/Configuration, ReleaseLine/3.x, Type/enhancement

#633 Rabbit Streams Additional Tests, Update ConfigureRabbitOptions, Add SpringBootEnv
  azure-pipelines.yml
  src/Configuration/test/PlaceholderBase.Test/PlaceholderResolverConfigurationExtensionsTest.cs
  src/Connectors/src/ConnectorCore/RabbitMQProviderServiceCollectionExtensions.cs
  src/Integration/src/RabbitMQ/Outbound/AbstractRabbitOutboundEndpoint.cs
  src/Messaging/src/RabbitMQ/Extensions/RabbitServicesExtensions.cs
  src/Messaging/src/RabbitMQ/Steeltoe.Messaging.RabbitMQ.csproj
  src/Messaging/test/RabbitMQ.Test/Extensions/RabbitServiceExtensionsTest.cs
  src/Stream/src/Abstractions/Binder/IBinder.cs
  src/Stream/src/BinderRabbitMQ/Config/RabbitConsumerOptions.cs
  src/Stream/src/BinderRabbitMQ/Config/RabbitProducerOptions.cs
  src/Stream/src/BinderRabbitMQ/Properties/AssemblyInfo.cs
  src/Stream/src/BinderRabbitMQ/RabbitMessageChannelBinder.cs
  src/Stream/src/BinderRabbitMQ/Startup.cs
  src/Stream/src/StreamBase/Binder/AbstractMessageChannelBinder.cs
  src/Stream/src/StreamBase/Binder/DefaultBinderFactory.cs
  src/Stream/src/StreamBase/Extensions/HostBuilderExtensions.cs
  src/Stream/src/StreamBase/Extensions/StreamServicesExtensions.cs
  src/Stream/src/StreamBase/Steeltoe.Stream.StreamBase.csproj
  src/Stream/src/StreamBase/StreamsHost/StreamsHost.cs
  src/Stream/test/BinderRabbitMQ.Test/RabbitBinderTests.cs
  src/Stream/test/BinderRabbitMQ.Test/RabbitBinderTestsSupport.cs
  src/Stream/test/BinderRabbitMQ.Test/RabbitTestBinder.cs
  src/Stream/test/BinderTests/AbstractBinderTests.cs
  src/Stream/test/BinderTests/PartitionCapableBinderTests.cs
  src/Stream/test/BinderTests/Steeltoe.Stream.BinderTests.csproj
  src/Stream/test/BinderTests/TestExtensions.cs
  src/Stream/test/StreamBase.Test/Extensions/HostBuilderExtensionsTest.cs
  src/Stream/test/StreamBase.Test/Extensions/StreamServicesExtensionsTest.cs
  src/Stream/test/StreamBase.Test/Steeltoe.Stream.StreamBase.Test.csproj
  src/Stream/test/StreamBase.Test/StreamsHost/StreamsHostTest.cs
  src/Stream/test/TestBinder/TestChannelBinder.cs
Labels: Component/Messaging

#640 Fix reflection issue with Stream tests
  src/Stream/src/StreamBase/Binder/DefaultBinderTypeRegistry.cs
  src/Stream/test/StreamBase.Test/Binder/DefaultBinderTypeRegistryTest.cs
Labels: Component/Stream

#645 Update Streams to resolve #641, #642
  src/Configuration/test/ConfigServer.ITest/ConfigServerConfigurationExtensionsIntegrationTest.cs
  src/Stream/src/StreamBase/Binder/AbstractBinder.cs
  src/Stream/src/StreamBase/Binder/AbstractPollableMessageSourceBinder.cs
  src/Stream/src/StreamBase/Binder/DefaultPollableMessageSource.cs
  src/Stream/src/StreamBase/Binding/BindingService.cs
  src/Stream/src/StreamBase/Extensions/StreamServicesExtensions.cs
  src/Stream/test/BinderRabbitMQ.Test/RabbitBinderTests.cs
  src/Stream/test/StreamBase.Test/Extensions/StreamServicesExtensionsTest.cs
Labels: Component/Stream, ReleaseLine/3.x
