Repository SteeltoeOSS/Steeltoe, pull requests merged in 2021-07, with the labels that each got.

#709 Cf config provider atomic reload
  src/Configuration/src/CloudFoundryBase/CloudFoundryConfigurationProvider.cs
  src/Configuration/test/CloudFoundryBase.Test/CloudfoundryConfigurationProviderTest.cs
Labels: Component/Configuration, ReleaseLine/2.x, Type/bug

#710 Config server config provider atomic reload
  src/Configuration/src/ConfigServerBase/ConfigServerConfigurationProvider.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationProviderTest.cs
  src/Configuration/test/ConfigServerBase.Test/TestConfigServerConfigurationSource.cs
Labels: Component/Configuration, ReleaseLine/2.x, Type/bug

#713 Merge config provider updates from 2.x to main
  src/Configuration/src/CloudFoundryBase/CloudFoundryConfigurationProvider.cs
  src/Configuration/src/ConfigServerBase/ConfigServerConfigurationProvider.cs
  src/Configuration/test/CloudFoundryBase.Test/CloudfoundryConfigurationProviderTest.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationProviderTest.cs
  src/Configuration/test/ConfigServerBase.Test/TestConfigServerConfigurationSource.cs
Labels: Component/Configuration, ReleaseLine/3.x

#712 Add non-public description for integration nuget package
  src/Integration/src/Abstractions/Steeltoe.Integration.Abstractions.csproj
  src/Integration/src/IntegrationBase/Steeltoe.Integration.IntegrationBase.csproj
  src/Integration/src/RabbitMQ/Steeltoe.Integration.RabbitMQ.csproj
Labels: Component/Stream

#715 Reduce project (re)builds when nothing has changed
  sharedproject.props
  sharedtest.props
  src/Common/test/Common.Security.Test/Steeltoe.Common.Security.Test.csproj
  src/Configuration/test/ConfigServerBase.Test/Steeltoe.Extensions.Configuration.ConfigServerBase.Test.csproj
  src/Discovery/test/ClientBase.Test/Steeltoe.Discovery.ClientBase.Test.csproj
Labels: ReleaseLine/3.x, Type/infrastructure

#714 AddCloudFoundryIdentityCertificate improvements
  src/Bootstrap/src/Autoconfig/HostBuilderExtensions.cs
  src/Bootstrap/src/Autoconfig/WebHostBuilderExtensions.cs
  src/Security/src/Authentication.CloudFoundryCore/ApplicationBuilderExtensions.cs
  src/Security/src/Authentication.CloudFoundryCore/AuthenticationBuilderExtensions.cs
  src/Security/src/Authentication.CloudFoundryCore/MutualTlsAuthenticationOptionsPostConfigurer.cs
  src/Security/src/Authentication.CloudFoundryCore/ServiceCollectionExtensions.cs
  src/Security/src/Authentication.MtlsCore/CertificateApplicationBuilderExtensions.cs
  src/Security/src/Authentication.MtlsCore/CertificateAuthenticationBuilderExtensions.cs
  src/Security/src/Authentication.MtlsCore/CertificateRotationHostedService.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/ServiceCollectionExtensionsTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/TestServerCertificateStartup.cs
Labels: Component/Security, ReleaseLine/3.x

#717 Fix AlwaysOn/AlwaysOff sampler registration
  src/Management/src/TracingBase/TracingBaseServiceCollectionExtensions.cs
  src/Management/test/TracingBase.Test/TestBase.cs
  src/Management/test/TracingBase.Test/TracingBaseServiceCollectionExtensionsTest.cs
Labels: Component/DistributedTracing, ReleaseLine/3.x, Type/bug

#724 Remove GitInfoContributor unnecessary value processing
  src/Management/src/EndpointBase/Info/Contributor/GitInfoContributor.cs
  src/Management/test/EndpointBase.Test/Info/Contributor/GitInfoContributorTest.cs
  src/Management/test/EndpointBase.Test/Info/GitInfoContributorTest.cs
  src/Management/test/EndpointCore.Test/Info/EndpointMiddlewareTest.cs
  src/Management/test/EndpointCore.Test/Info/git.properties
Labels: Component/Management, ReleaseLine/3.x

#732 Eureka troubleshooting logs, catch localhost eureka w/o trailing slash
  src/Discovery/src/Eureka/DiscoveryClient.cs
  src/Discovery/src/Eureka/EurekaPostConfigurer.cs
  src/Discovery/src/Eureka/Transport/EurekaHttpClient.cs
Labels: Component/Discovery, ReleaseLine/3.x, Type/enhancement

#728 Update KubernetesClient, minor related enhancements
  src/Common/src/Common.Kubernetes/IServiceCollectionExtensions.cs
  src/Common/src/Common.Kubernetes/KubernetesClientHelpers.cs
  src/Common/src/Common.Kubernetes/StandardPodUtilities.cs
  src/Common/src/Common.Kubernetes/Steeltoe.Common.Kubernetes.csproj
  src/Common/test/Common.Kubernetes.Test/IServiceCollectionExtensionsTest.cs
  src/Configuration/src/KubernetesBase/Steeltoe.Extensions.Configuration.KubernetesBase.csproj
  src/Discovery/src/Kubernetes/Discovery/KubernetesDiscoveryClient.cs
  src/Discovery/src/Kubernetes/Discovery/KubernetesServiceInstance.cs
  src/Discovery/src/Kubernetes/KubernetesDiscoveryClientExtension.cs
  src/Discovery/src/Kubernetes/Steeltoe.Discovery.Kubernetes.csproj
  src/Discovery/test/Kubernetes.Test/Discovery/KubernetesServiceInstanceTest.cs
  src/Management/src/KubernetesCore/ServiceCollectionExtensions.cs
  versions.props
Labels: Component/Common, Component/Configuration, Component/Discovery, Component/Management, ReleaseLine/3.x, Type/enhancement

#734 Reduce usage of BuildServiceProvider
  src/Common/src/Common/IServiceCollectionExtensions.cs
  src/Configuration/src/Abstractions/IServiceCollectionExtensions.cs
  src/Configuration/src/CloudFoundryBase/IServiceCollectionExtensions.cs
  src/Discovery/src/ClientBase/DiscoveryServiceCollectionExtensions.cs
  src/Discovery/src/ClientBase/SimpleClients/ConfigurationDiscoveryClientExtension.cs
  src/Discovery/src/Consul/ConsulDiscoveryClientExtension.cs
  src/Discovery/src/Eureka/EurekaDiscoveryClientExtension.cs
  src/Discovery/test/ClientBase.Test/DiscoveryHostBuilderExtensionsTest.cs
  src/Discovery/test/ClientBase.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Management/src/KubernetesCore/ServiceCollectionExtensions.cs
  src/Stream/src/BinderRabbitMQ/Provisioning/RabbitExchangeQueueProvisioner.cs
Labels: ReleaseLine/3.x, Type/bug
