Repository SteeltoeOSS/Steeltoe, pull requests merged in 2021-09, with the labels that each got.

#760 Start building v3.2
  azure-pipelines.yml
  versions.props
Labels: ReleaseLine/3.x

#718 Extend DynamicConsoleLoggerProvider to provide dynamic levels for Serilog
  src/Bootstrap/test/Autoconfig.Test/HostBuilderExtensionsTest.cs
  src/Bootstrap/test/Autoconfig.Test/WebHostBuilderExtensionsTest.cs
  src/Logging/src/Abstractions/DynamicLoggerProviderBase.cs
  src/Logging/src/Abstractions/InitialLevels.cs
  src/Logging/src/Abstractions/MessageProcessingLogger.cs
  src/Logging/src/DynamicLogger/DynamicConsoleLoggerProvider.cs
  src/Logging/src/DynamicLogger/Properties/AssemblyInfo.cs
  src/Logging/src/DynamicSerilogBase/ISerilogOptions.cs
  src/Logging/src/DynamicSerilogBase/Properties/AssemblyInfo.cs
  src/Logging/src/DynamicSerilogBase/SerilogConfigurationExtensions.cs
  src/Logging/src/DynamicSerilogBase/SerilogDynamicProvider.cs
  src/Logging/src/DynamicSerilogBase/SerilogHostBuilderExtensions.cs
  src/Logging/src/DynamicSerilogBase/SerilogLoggingBuilderExtensions.cs
  src/Logging/src/DynamicSerilogBase/SerilogOptions.cs
  src/Logging/src/DynamicSerilogBase/Steeltoe.Extensions.Logging.DynamicSerilogBase.csproj
  src/Logging/src/DynamicSerilogCore/SerilogWebHostBuilderExtensions.cs
  src/Logging/test/DynamicSerilogBase.Test/SerilogDynamicLoggerConfigurationExtensionsTest.cs
  src/Logging/test/DynamicSerilogBase.Test/SerilogDynamicLoggerProviderTest.cs
  src/Logging/test/DynamicSerilogBase.Test/SerilogDynamicLoggingBuilderTest.cs
  src/Logging/test/DynamicSerilogBase.Test/xunit.runner.json
  src/Logging/test/DynamicSerilogCore.Test/LoggerSinkConfigurationExtensions.cs
  src/Logging/test/DynamicSerilogCore.Test/SerilogDynamicWebhostBuilderTest.cs
  src/Logging/test/DynamicSerilogCore.Test/Startup.cs
  src/Logging/test/DynamicSerilogCore.Test/TestSink.cs
  src/Logging/test/DynamicSerilogCore.Test/xunit.runner.json
Labels: ReleaseLine/3.x, Component/Logging

#693 Utilities for temp files and running commands
  sharedtest.props
  src/CircuitBreaker/CircuitBreaker.sln
  src/CircuitBreaker/test/Hystrix.MetricsStreamCore.Test/HystrixMetricsStreamOptionsTest.cs
  src/CircuitBreaker/test/Hystrix.MetricsStreamCore.Test/Steeltoe.CircuitBreaker.Hystrix.MetricsStreamCore.Test.csproj
  src/CircuitBreaker/test/Hystrix.MetricsStreamCore.Test/TestHelpers.cs
  src/Common/Common.sln
  src/Common/src/Common.Utils/Diagnostics/CommandException.cs
  src/Common/src/Common.Utils/Diagnostics/CommandExecutor.cs
  src/Common/src/Common.Utils/Diagnostics/CommandResult.cs
  src/Common/src/Common.Utils/Diagnostics/ICommandExecutor.cs
  src/Common/src/Common.Utils/IO/Sandbox.cs
  src/Common/src/Common.Utils/IO/TempDirectory.cs
  src/Common/src/Common.Utils/IO/TempFile.cs
  src/Common/src/Common.Utils/IO/TempPath.cs
  src/Common/src/Common.Utils/Steeltoe.Common.Utils.csproj
  src/Common/test/Common.Security.Test/ConfigurationExtensionsTest.cs
  src/Common/test/Common.Security.Test/Steeltoe.Common.Security.Test.csproj
  src/Common/test/Common.Test/ApplicationInstanceInfoTest.cs
  src/Common/test/Common.Test/Configuration/PropertyPlaceholderHelperTest.cs
  src/Common/test/Common.Test/Discovery/ConfigurationServiceInstanceProviderServiceCollectionExtensionsTest.cs
  src/Common/test/Common.Test/Steeltoe.Common.Test.csproj
  src/Common/test/Common.TestResources/TestHelpers.cs
  src/Common/test/Common.Utils.Test/Diagnostics/CommandExecutorTest.cs
  src/Common/test/Common.Utils.Test/IO/SandboxTest.cs
  src/Common/test/Common.Utils.Test/IO/TempDirectoryTest.cs
  src/Common/test/Common.Utils.Test/IO/TempFileTest.cs
  src/Common/test/Common.Utils.Test/Steeltoe.Common.Utils.Test.csproj
  src/Configuration/Configuration.sln
  src/Configuration/test/ConfigServer.ITest/ConfigServerConfigurationExtensionsIntegrationTest.cs
  src/Configuration/test/ConfigServer.ITest/Steeltoe.Extensions.Configuration.ConfigServer.ITest.csproj
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationBuilderExtensionsTest.cs
  src/Configuration/test/ConfigServerBase.Test/Steeltoe.Extensions.Configuration.ConfigServerBase.Test.csproj
  src/Configuration/test/ConfigServerCore.Test/ConfigServerConfigurationBuilderExtensionsCoreTest.cs
  src/Configuration/test/PlaceholderBase.Test/PlaceholderResolverConfigurationExtensionsTest.cs
  src/Configuration/test/PlaceholderBase.Test/PlaceholderResolverProviderTest.cs
  src/Configuration/test/PlaceholderBase.Test/Steeltoe.Extensions.Configuration.PlaceholderBase.Test.csproj
  src/Configuration/test/PlaceholderCore.Test/PlaceholderServiceCollectionExtensionsTest.cs
  src/Configuration/test/PlaceholderCore.Test/Steeltoe.Extensions.Configuration.PlaceholderCore.Test.csproj
  src/Connectors/Connectors.sln
  src/Connectors/test/ConnectorBase.Test/ConnectionStringConfigurationProviderTest.cs
  src/Connectors/test/ConnectorBase.Test/Steeltoe.Connector.ConnectorBase.Test.csproj
  src/Discovery/Discovery.sln
  src/Discovery/test/ClientBase.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/ClientBase.Test/Steeltoe.Discovery.ClientBase.Test.csproj
  src/Discovery/test/Eureka.Test/EurekaClientOptionsTest.cs
  src/Discovery/test/Eureka.Test/EurekaInstanceOptionsTest.cs
  src/Discovery/test/Eureka.Test/EurekaPostConfigurerTest.cs
  src/Discovery/test/Eureka.Test/Steeltoe.Discovery.Eureka.Test.csproj
  src/Logging/test/DynamicLogger.Test/TestHelpers.cs
  src/Management/Management.sln
  src/Management/test/EndpointCore.Test/HeapDump/EndpointMiddlewareTest.cs
  src/Management/test/EndpointCore.Test/Steeltoe.Management.EndpointCore.Test.csproj
  src/Steeltoe.All.sln
  versions.props
Labels: ReleaseLine/3.x, Component/Common

#771 Add support for Spring-style configuration of actuator exposure
  src/Management/src/EndpointBase/Exposure.cs
  src/Management/test/EndpointBase.Test/ExposureTest.cs
Labels: Component/Management, ReleaseLine/2.x

#777 Allow UseCloudHosting to override launchsettings
  src/Common/src/Common.Hosting/HostBuilderExtensions.cs
  src/Common/test/Common.Hosting.Test/HostBuilderExtensionsTest.cs
  src/Common/test/Common.Hosting.Test/TestServerStartupLocals.cs
Labels: Component/Common, ReleaseLine/2.x

#770 Add health contributors when adding EF6 contexts, add timeout options
  src/Connectors/src/Connector.EF6Autofac/MySqlDbContextContainerBuilderExtensions.cs
  src/Connectors/src/Connector.EF6Autofac/OracleDbContextContainerBuilderExtensions.cs
  src/Connectors/src/Connector.EF6Autofac/SqlServerDbContextContainerBuilderExtensions.cs
  src/Connectors/src/Connector.EF6Core/MySqlDbContextServiceCollectionExtensions.cs
  src/Connectors/src/Connector.EF6Core/OracleDbContextServiceCollectionExtensions.cs
  src/Connectors/src/Connector.EF6Core/SqlServerDbContextServiceCollectionExtensions.cs
  src/Connectors/src/ConnectorBase/Relational/Oracle/OracleProviderConnectorOptions.cs
  src/Connectors/src/ConnectorBase/Relational/PostgreSQL/PostgresProviderConnectorOptions.cs
  src/Connectors/src/ConnectorCore/MySqlServiceCollectionExtensions.cs
  src/Connectors/test/Connector.EF6Autofac.Net4Test/MySqlDbContextContainerBuilderExtensionsTest.cs
  src/Connectors/test/Connector.EF6Autofac.Net4Test/OracleDbContextContainerBuilderExtensionsTest.cs
  src/Connectors/test/Connector.EF6Autofac.Net4Test/SqlServerDbContextContainerBuilderExtensionsTest.cs
  src/Connectors/test/Connector.EF6Autofac.Net4Test/Steeltoe.CloudFoundry.Connector.EF6Autofac.Test.csproj
  src/Connectors/test/Connector.EF6Core.Test/MySqlDbContextServiceCollectionExtensionsTest.cs
  src/Connectors/test/Connector.EF6Core.Test/OracleDbContextServiceCollectionExtensionsTest.cs
  src/Connectors/test/Connector.EF6Core.Test/SqlServerDbContextServiceCollectionExtensionsTest.cs
  src/Connectors/test/Connector.EF6Core.Test/Steeltoe.CloudFoundry.Connector.EF6Core.Test.csproj
  src/Connectors/test/ConnectorBase.Test/Relational/Oracle/OracleProviderConfigurerTest.cs
  src/Connectors/test/ConnectorBase.Test/Relational/PostgreSQL/PostgresProviderConnectorOptionsTest.cs
  src/Connectors/test/ConnectorBase.Test/Relational/RelationalHealthContributorTest.cs
  src/Connectors/test/ConnectorCore.Test/ConnectionStringManagerTest.cs
  versions.props
Labels: Type/enhancement, Component/Connectors, ReleaseLine/2.x

#776 Replace level switches for Log filters
  src/Logging/src/DynamicLogger/DynamicConsoleLoggerProvider.cs
  src/Logging/src/DynamicLogger/DynamicLoggerProviderBase.cs
  src/Logging/src/DynamicLogger/InitialLevels.cs
  src/Logging/src/SerilogDynamicLoggerCore/ISerilogOptions.cs
  src/Logging/src/SerilogDynamicLoggerCore/Properties/AssemblyInfo.cs
  src/Logging/src/SerilogDynamicLoggerCore/SerilogBuilderExtensions.cs
  src/Logging/src/SerilogDynamicLoggerCore/SerilogConfigurationExtensions.cs
  src/Logging/src/SerilogDynamicLoggerCore/SerilogDynamicProvider.cs
  src/Logging/src/SerilogDynamicLoggerCore/SerilogOptions.cs
  src/Logging/test/SerilogDynamicLoggerCore.Test/SerilogDynamicLoggerConfigurationExtensionsTest.cs
  src/Logging/test/SerilogDynamicLoggerCore.Test/SerilogDynamicLoggerProviderTest.cs
  src/Logging/test/SerilogDynamicLoggerCore.Test/SerilogDynamicWebhostBuilderTest.cs
  src/Logging/test/SerilogDynamicLoggerCore.Test/TestSink.cs
  src/Logging/test/SerilogDynamicLoggerCore.Test/xunit.runner.json
Labels: Component/Logging

#766 Gracefully handle missing EF Core ref in DbMigrations
  src/Management/src/EndpointBase/DbMigrations/DbMigrationsEndpoint.cs
  src/Management/src/EndpointCore/ActuatorRouteBuilderExtensions.cs
  src/Management/test/EndpointCore.Test/ActuatorRouteBuilderExtensionsTest.cs
Labels: Type/bug, Component/Management, ReleaseLine/3.x

#782 Backport 766 to 3.1
  azure-pipelines.yml
  src/Management/src/EndpointBase/DbMigrations/DbMigrationsEndpoint.cs
  src/Management/src/EndpointCore/ActuatorRouteBuilderExtensions.cs
  src/Management/test/EndpointCore.Test/ActuatorRouteBuilderExtensionsTest.cs
  versions.props
Labels: Component/Management, ReleaseLine/3.x

#778 Use HttpClientFactory and fix client cert rotation issue for Eureka
  src/Common/src/Common.Http/ClientCertificateHttpHandler.cs
  src/Common/src/Common.Http/ClientCertificateHttpHandlerProvider.cs
  src/Discovery/src/Eureka/DiscoveryClient.cs
  src/Discovery/src/Eureka/EurekaDiscoveryClient.cs
  src/Discovery/src/Eureka/EurekaDiscoveryClientExtension.cs
  src/Discovery/src/Eureka/Transport/EurekaHttpClient.cs
  src/Discovery/test/ClientBase.Test/DiscoveryServiceCollectionExtensionsTest.cs
Labels: ReleaseLine/3.x, Component/Discovery

#781 Backport 766 to 2.5
  src/Management/src/EndpointBase/DbMigrations/DbMigrationsEndpoint.cs
Labels: Component/Management, ReleaseLine/2.x

#779 Replay EF6 health and Spring actuator config PRs
  src/Connectors/src/Connector.EF6Core/MySqlDbContextServiceCollectionExtensions.cs
  src/Connectors/src/Connector.EF6Core/OracleDbContextServiceCollectionExtensions.cs
  src/Connectors/src/Connector.EF6Core/SqlServerDbContextServiceCollectionExtensions.cs
  src/Connectors/test/Connector.EF6Core.Test/MySqlDbContextServiceCollectionExtensionsTest.cs
  src/Connectors/test/Connector.EF6Core.Test/OracleDbContextServiceCollectionExtensionsTest.cs
  src/Connectors/test/Connector.EF6Core.Test/SqlServerDbContextServiceCollectionExtensionsTest.cs
  src/Connectors/test/ConnectorBase.Test/Oracle/OracleProviderConfigurerTest.cs
  src/Management/src/EndpointBase/Exposure.cs
  src/Management/test/EndpointBase.Test/ExposureTest.cs
  versions.props
Labels: Type/enhancement, Component/Connectors, Component/Management, ReleaseLine/3.x
