Repository SteeltoeOSS/Steeltoe, pull requests merged in 2021-02, with the labels that each got.

#579 OAuth Service URL Fallback
  src/Security/src/Authentication.CloudFoundryCore/CloudFoundryExtensions.cs
  src/Security/src/Authentication.CloudFoundryCore/CloudFoundryJwtBearerOptions.cs
  src/Security/src/Authentication.CloudFoundryCore/CloudFoundryOAuthOptions.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryJwtBearerOptionsTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryOAuthBuilderTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryOAuthOptionsTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/Steeltoe.Security.Authentication.CloudFoundryCore.Test.csproj
  src/Security/test/Authentication.CloudFoundryCore.Test/TestApplicationFactory.cs
Labels: Component/Security, ReleaseLine/2.x, Type/enhancement

#588 OAuth Service URL Fallback (3.x version)
  src/Security/src/Authentication.CloudFoundryCore/AuthenticationBuilderExtensions.cs
  src/Security/src/Authentication.CloudFoundryCore/CloudFoundryJwtBearerOptions.cs
  src/Security/src/Authentication.CloudFoundryCore/CloudFoundryOAuthOptions.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryJwtBearerOptionsTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryOAuthBuilderTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryOAuthOptionsTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/Steeltoe.Security.Authentication.CloudFoundryCore.Test.csproj
  src/Security/test/Authentication.CloudFoundryCore.Test/TestApplicationFactory.cs
Labels: Component/Security, ReleaseLine/3.x, Type/enhancement

#593 Remove unnecessary preprocessor directives carried over from 2.x
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryOAuthBuilderTest.cs
Labels: Component/Security, ReleaseLine/3.x, Type/enhancement

#587 K8s config handle "__" as ":"
  src/Configuration/src/KubernetesBase/KubernetesConfigMapProvider.cs
  src/Configuration/src/KubernetesBase/KubernetesSecretProvider.cs
  src/Configuration/test/KubernetesBase.Test/KubernetesConfigMapProviderTest.cs
  src/Configuration/test/KubernetesBase.Test/KubernetesSecretProviderTest.cs
Labels: Component/Configuration, ReleaseLine/3.x

#591 Use AllActuatorsStartupFilter more
  azure-pipelines.yml
  sharedtest.props
  src/Management/src/CloudFoundryCore/CloudFoundryActuatorsStartupFilter.cs
  src/Management/src/CloudFoundryCore/CloudFoundryHostBuilderExtensions.cs
  src/Management/src/EndpointBase/Health/IServiceProviderExtensions.cs
  src/Management/src/EndpointCore/ActuatorRouteBuilderExtensions.cs
  src/Management/src/EndpointCore/AllActuatorsStartupFilter.cs
  src/Management/src/EndpointCore/CloudFoundry/CloudFoundryActuatorStartupFilter.cs
  src/Management/src/EndpointCore/DbMigrations/DbMigrationsStartupFilter.cs
  src/Management/src/EndpointCore/Env/EnvStartupFilter.cs
  src/Management/src/EndpointCore/Health/HealthStartupFilter.cs
  src/Management/src/EndpointCore/HeapDump/HeapDumpStartupFilter.cs
  src/Management/src/EndpointCore/Hypermedia/HypermediaStartupFilter.cs
  src/Management/src/EndpointCore/Info/InfoStartupFilter.cs
  src/Management/src/EndpointCore/Loggers/LoggersStartupFilter.cs
  src/Management/src/EndpointCore/ManagementHostBuilderExtensions.cs
  src/Management/src/EndpointCore/ManagementWebHostBuilderExtensions.cs
  src/Management/src/EndpointCore/Mappings/MappingsStartupFilter.cs
  src/Management/src/EndpointCore/Metrics/MetricsStartupFilter.cs
  src/Management/src/EndpointCore/Refresh/RefreshStartupFilter.cs
  src/Management/src/EndpointCore/ThreadDump/ThreadDumpStartupFilter.cs
  src/Management/src/EndpointCore/Trace/TraceStartupFilter.cs
  src/Management/src/KubernetesCore/HostBuilderExtensions.cs
  src/Management/src/KubernetesCore/KubernetesActuatorsStartupFilter.cs
  src/Management/test/EndpointCore.Test/ManagementHostBuilderExtensionsTest.cs
  src/Management/test/EndpointCore.Test/ManagementWebHostBuilderExtensionsTest.cs
  src/Management/test/KubernetesCore.Test/HostBuilderExtensionsTest.cs
  src/Management/test/KubernetesCore.Test/Steeltoe.Management.KubernetesCore.Test.csproj
Labels: Component/Management, ReleaseLine/3.x

#592 SBA and PublishSingleFile-compatible BuildInfo
  src/Management/src/EndpointBase/DbMigrations/DbMigrationsEndpoint.cs
  src/Management/src/EndpointBase/Health/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/Info/Contributor/BuildInfoContributor.cs
  src/Management/src/EndpointCore/SpringBootAdminClient/SpringBootAdminClientOptions.cs
  src/Management/test/EndpointBase.Test/DbMigrations/DbMigrationsEndpointTests.cs
  src/Management/test/EndpointCore.Test/DbMigrations/EndpointMiddlewareTest.cs
  src/Management/test/EndpointCore.Test/Info/EndpointMiddlewareTest.cs
Labels: Component/Management, ReleaseLine/3.x

#600 Reduce the number of direct constructor callers to management endpoint base
  .editorconfig
  src/Management/src/EndpointBase/CloudFoundry/CloudFoundryEndpoint.cs
  src/Management/src/EndpointBase/CloudFoundry/ICloudFoundryEndpoint.cs
  src/Management/src/EndpointBase/CloudFoundry/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/DbMigrations/DbMigrationsEndpoint.cs
  src/Management/src/EndpointBase/DbMigrations/IDbMigrationsEndpoint.cs
  src/Management/src/EndpointBase/DbMigrations/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/Env/EnvEndpoint.cs
  src/Management/src/EndpointBase/Env/IEnvEndpoint.cs
  src/Management/src/EndpointBase/Env/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/Health/HealthEndpoint.cs
  src/Management/src/EndpointBase/Health/IHealthEndpoint.cs
  src/Management/src/EndpointBase/Health/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/HeapDump/HeapDumpEndpoint.cs
  src/Management/src/EndpointBase/HeapDump/IHeapDumpEndpoint.cs
  src/Management/src/EndpointBase/HeapDump/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/Hypermedia/ActuatorEndpoint.cs
  src/Management/src/EndpointBase/Hypermedia/IActuatorEndpoint.cs
  src/Management/src/EndpointBase/Hypermedia/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/Info/IInfoEndpoint.cs
  src/Management/src/EndpointBase/Info/InfoEndpoint.cs
  src/Management/src/EndpointBase/Info/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/Loggers/ILoggersEndpoint.cs
  src/Management/src/EndpointBase/Loggers/LoggersEndpoint.cs
  src/Management/src/EndpointBase/Loggers/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/Metrics/IMetricsEndpoint.cs
  src/Management/src/EndpointBase/Metrics/MetricsEndpoint.cs
  src/Management/src/EndpointBase/Metrics/Prometheus/IPrometheusScraperEndpoint.cs
  src/Management/src/EndpointBase/Metrics/Prometheus/PrometheusScraperEndpoint.cs
  src/Management/src/EndpointBase/Metrics/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/Refresh/IRefreshEndpoint.cs
  src/Management/src/EndpointBase/Refresh/RefreshEndpoint.cs
  src/Management/src/EndpointBase/Refresh/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/ThreadDump/IThreadDumpEndpoint.cs
  src/Management/src/EndpointBase/ThreadDump/IThreadDumpEndpointV2.cs
  src/Management/src/EndpointBase/ThreadDump/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/ThreadDump/ThreadDumpEndpoint.cs
  src/Management/src/EndpointBase/ThreadDump/ThreadDumpEndpoint_v2.cs
  src/Management/src/EndpointBase/Trace/HttpTraceEndpoint.cs
  src/Management/src/EndpointBase/Trace/IHttpTraceEndpoint.cs
  src/Management/src/EndpointBase/Trace/ITraceEndpoint.cs
  src/Management/src/EndpointBase/Trace/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/Trace/TraceEndpoint.cs
  src/Management/test/EndpointBase.Test/CloudFoundry/CloudFoundryEndpointTest.cs
  src/Management/test/EndpointBase.Test/DbMigrations/DbMigrationsEndpointTests.cs
  src/Management/test/EndpointBase.Test/Env/EnvEndpointTest.cs
  src/Management/test/EndpointBase.Test/Health/HealthEndpointTest.cs
  src/Management/test/EndpointBase.Test/HeapDump/HeapDumpEndpointTest.cs
  src/Management/test/EndpointBase.Test/Hypermedia/HypermediaEndpointTest.cs
  src/Management/test/EndpointBase.Test/Info/InfoEndpointTest.cs
  src/Management/test/EndpointBase.Test/Infrastructure/TestContext.cs
  src/Management/test/EndpointBase.Test/Infrastructure/TestOutputLoggerProvider.cs
  src/Management/test/EndpointBase.Test/Loggers/LoggersEndpointTest.cs
  src/Management/test/EndpointBase.Test/Metrics/MetricsEndpointTest.cs
  src/Management/test/EndpointBase.Test/Refresh/RefreshEndpointTest.cs
  src/Management/test/EndpointBase.Test/ThreadDump/ThreadDumpEndpointTest.cs
  src/Management/test/EndpointBase.Test/Trace/TestTraceEndpoint.cs
  src/Management/test/EndpointBase.Test/Trace/TraceEndpointTest.cs
Labels: Component/Management, ReleaseLine/3.x

#599 Actuators detect running on Cloud Foundry
  src/Management/src/CloudFoundryCore/CloudFoundryActuatorsStartupFilter.cs
  src/Management/src/CloudFoundryCore/CloudFoundryHostBuilderExtensions.cs
  src/Management/src/CloudFoundryCore/CloudFoundryServiceCollectionExtensions.cs
  src/Management/src/EndpointCore/ActuatorServiceCollectionExtensions.cs
  src/Management/src/EndpointCore/AllActuatorsStartupFilter.cs
  src/Management/src/EndpointCore/CloudFoundry/CloudFoundrySecurityMiddleware.cs
  src/Management/src/EndpointCore/ManagementHostBuilderExtensions.cs
  src/Management/test/CloudFoundryCore.Test/CloudFoundryHostBuilderExtensionsTest.cs
  src/Management/test/CloudFoundryCore.Test/CloudFoundryServiceCollectionExtensionsTest.cs
  src/Management/test/EndpointCore.Test/ActuatorServiceCollectionExtensionsTest.cs
  src/Management/test/EndpointCore.Test/Steeltoe.Management.EndpointCore.Test.csproj
Labels: Component/Management, ReleaseLine/3.x

#605 Feature/startup logging
  src/Discovery/src/Eureka/DiscoveryClient.cs
Labels: Component/Discovery, ReleaseLine/3.x, Type/enhancement
