Repository SteeltoeOSS/Steeltoe, pull requests merged in 2021-05, with the labels that each got.

#653 Fix error message; fix finding binder in current directory
  src/Messaging/src/RabbitMQ/Connection/CachingConnectionFactory.cs
  src/Stream/src/StreamBase/Binder/DefaultBinderTypeRegistry.cs
Labels: Component/Stream, ReleaseLine/3.x, Type/bug

#658 Configure bindingsOptions correctly
  src/Stream/src/BinderRabbitMQ/Config/RabbitBindingsOptions.cs
  src/Stream/src/BinderRabbitMQ/Provisioning/RabbitExchangeQueueProvisioner.cs
  src/Stream/src/BinderRabbitMQ/RabbitMessageChannelBinder.cs
  src/Stream/src/BinderRabbitMQ/Startup.cs
  src/Stream/src/StreamBase/Extensions/HostBuilderExtensions.cs
  src/Stream/src/StreamBase/Extensions/StreamServicesExtensions.cs
  src/Stream/src/StreamBase/StreamHost/StreamHost.cs
  src/Stream/src/StreamBase/StreamHost/StreamLifeCycleService.cs
  src/Stream/test/BinderRabbitMQ.Test/Config/RabbitBindingsOptionsTest.cs
  src/Stream/test/BinderRabbitMQ.Test/RabbitBinderTests.cs
  src/Stream/test/BinderRabbitMQ.Test/RabbitBinderTestsSupport.cs
  src/Stream/test/BinderRabbitMQ.Test/RabbitTestBinder.cs
  src/Stream/test/StreamBase.Test/Extensions/HostBuilderExtensionsTest.cs
  src/Stream/test/StreamBase.Test/Extensions/StreamServicesExtensionsTest.cs
  src/Stream/test/StreamBase.Test/StreamsHost/FakeHostedService.cs
  src/Stream/test/StreamBase.Test/StreamsHost/StreamsHostTest.cs
Labels: Component/Stream, ReleaseLine/3.x

#665 Fix errors in type conversion (from x-death sample)
  src/Common/src/Common/Converter/CollectionToObjectConverter.cs
  src/Common/src/Common/Converter/ConversionUtils.cs
  src/Common/src/Common/Converter/DefaultConversionService.cs
  src/Common/src/Common/Converter/ListToDictionaryConverter.cs
  src/Common/test/Common.Test/Converter/DefaultConversionServiceTest.cs
  src/Messaging/src/RabbitMQ/Config/RabbitListenerAttributeProcessor.cs
  src/Messaging/src/RabbitMQ/Support/DefaultMessageHeadersConverter.cs
Labels: Component/Messaging, Component/Stream

#670 Async tests should return Task
  src/CircuitBreaker/test/Hystrix.MetricsEventsCore.Test/Controllers/HystrixConfigStreamControllerTest.cs
  src/CircuitBreaker/test/Hystrix.MetricsEventsCore.Test/Controllers/HystrixMetricsStreamControllerTest.cs
  src/CircuitBreaker/test/Hystrix.MetricsEventsCore.Test/Controllers/HystrixRequestEventStreamControllerTest.cs
  src/CircuitBreaker/test/Hystrix.MetricsEventsCore.Test/Controllers/HystrixUtilizationStreamControllerTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/Config/HystrixConfigurationStreamTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/HystrixCircuitBreakerTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/HystrixCollapserTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/HystrixCommandMetricsTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/HystrixCommandTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/Metric/Consumer/CumulativeCommandEventCounterStreamTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/Metric/Consumer/CumulativeThreadPoolEventCounterStreamTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/Metric/Consumer/HealthCountsStreamTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/Metric/Consumer/RollingCommandEventCounterStreamTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/Metric/Consumer/RollingCommandLatencyDistributionStreamTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/Metric/Consumer/RollingCommandMaxConcurrencyStreamTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/Metric/Consumer/RollingThreadPoolEventCounterStreamTest.cs
  src/CircuitBreaker/test/HystrixBase.Test/Metric/Consumer/RollingThreadPoolMaxConcurrencyStreamTest.cs
  src/CircuitBreaker/test/HystrixCore.Test/HystrixRequestContextMiddlewareTest.cs
  src/Common/test/Common.Http.Test/Discovery/DiscoveryHttpClientHandlerBaseTest.cs
  src/Common/test/Common.Http.Test/LoadBalancer/LoadBalancerDelegatingHandlerTest.cs
  src/Common/test/Common.Test/LoadBalancer/RoundRobinLoadBalancerTest.cs
  src/Configuration/test/ConfigServer.ITest/ConfigServerConfigurationExtensionsIntegrationTest.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationProviderTest.cs
  src/Configuration/test/PlaceholderBase.Test/PlaceholderResolverConfigurationExtensionsTest.cs
  src/Configuration/test/PlaceholderBase.Test/PlaceholderResolverProviderTest.cs
  src/Discovery/test/Consul.Test/Discovery/ConsulDiscoveryClientTest.cs
  src/Discovery/test/Consul.Test/Discovery/ConsulHealthContributorTest.cs
  src/Discovery/test/Consul.Test/Registry/ConsulServiceRegistryTest.cs
  src/Discovery/test/Eureka.Test/DiscoveryClientTest.cs
  src/Discovery/test/Eureka.Test/Transport/EurekaHttpClientTest.cs
  src/Security/test/Authentication.CloudFoundryBase.Test/CloudFoundryTokenKeyResolverTest.cs
  src/Security/test/Authentication.CloudFoundryBase.Test/TokenExchangerTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryContainerIdentityMtlsTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryExtensionsTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryOAuthHandlerTest.cs
  src/Security/test/DataProtection.CredHubBase.Test/CredHubClientTests.cs
Labels: ReleaseLine/3.x, Type/bug

#671 Add ConfigMap appsettings file parsing
  src/Configuration/src/KubernetesBase/KubernetesConfigMapProvider.cs
  src/Configuration/src/KubernetesBase/Steeltoe.Extensions.Configuration.KubernetesBase.csproj
  src/Configuration/test/KubernetesBase.Test/KubernetesConfigMapProviderTest.cs
Labels: Component/Configuration, ReleaseLine/3.x, Type/enhancement
