Repository SteeltoeOSS/Steeltoe, pull requests merged in 2021-11, with the labels that each got.

#783 Support for config server polling refresh
  src/Configuration/src/ConfigServerBase/ConfigServerClientSettings.cs
  src/Configuration/src/ConfigServerBase/ConfigServerConfigurationProvider.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationProviderTest.cs
Labels: Type/enhancement, Component/Configuration, ReleaseLine/3.x

#799 Backport 797 to 3.1
  README.md
  Steeltoe.ruleset
  azure-pipelines.yml
  codecov.yml
  sharedproject.props
  sharedtest.props
Labels: ReleaseLine/3.x, Type/infrastructure

#804 Fix two Eureka bugs and tests in .NET 6
  src/Discovery/src/Eureka/EurekaDiscoveryClientExtension.cs
  src/Discovery/src/Eureka/Steeltoe.Discovery.Eureka.csproj
  src/Discovery/test/ClientBase.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/Eureka.Test/EurekaDiscoveryClientBuilderExtensionsTest.cs
  src/Logging/src/DynamicSerilogBase/SerilogOptions.cs
  src/Management/src/CloudFoundryCore/CloudFoundryActuatorsStartupFilter.cs
  src/Management/src/EndpointCore/ActuatorRouteBuilderExtensions.cs
  src/Management/src/EndpointCore/AllActuatorsStartupFilter.cs
  src/Management/src/EndpointCore/Extensions/ServiceCollectionExtensions.cs
  src/Management/src/EndpointCore/Hypermedia/ActuatorHypermediaEndpointMiddleware.cs
  src/Management/src/EndpointCore/Internal/EndpointMappingEntry.cs
  src/Management/src/EndpointCore/Steeltoe.Management.EndpointCore.csproj
  src/Management/test/EndpointCore.Test/ActuatorRouteBuilderExtensionsTest.cs
  versions.props
Labels: Type/bug, ReleaseLine/3.x, Component/Discovery

#806 Fix Eureka EndpointBase bug
  src/Discovery/src/Eureka/EurekaDiscoveryClientExtension.cs
  src/Discovery/src/Eureka/Steeltoe.Discovery.Eureka.csproj
  src/Discovery/test/ClientBase.Test/DiscoveryServiceCollectionExtensionsTest.cs
Labels: Type/bug, ReleaseLine/3.x, Component/Discovery

#811 Add ReturnConfiguration toggle for RefreshEndpoint
  src/Management/src/EndpointBase/Refresh/IRefreshOptions.cs
  src/Management/src/EndpointBase/Refresh/RefreshEndpoint.cs
  src/Management/src/EndpointBase/Refresh/RefreshEndpointOptions.cs
  src/Management/test/EndpointBase.Test/Refresh/RefreshEndpointOptionsTest.cs
Labels: Type/enhancement, Component/Management, ReleaseLine/3.x
