Repository SteeltoeOSS/Steeltoe, pull requests merged in 2022-10, with the labels that each got.

#1024 Fix: Return default minimum level when category is not configured
  src/Logging/src/Abstractions/DynamicLoggerProviderBase.cs
  src/Management/test/Endpoint.Test/Loggers/EndpointMiddlewareTest.cs
Labels: Component/Management, Component/Logging

#1021 Handle preinit events
  src/Management/src/EndpointBase/Metrics/Observer/EventCounterListener.cs
Labels: Component/Management

#1029 Event counter handle pre-init events
  src/Management/src/Endpoint/Metrics/Observer/EventCounterListener.cs
Labels: Component/Management

#1033 Fix thread-safety issues with System.Random
  src/CircuitBreaker/test/Hystrix.Test/Util/HystrixRollingPercentileTest.cs
  src/Common/src/Common/Util/MimeTypeUtils.cs
  src/Common/test/Common.Expression.Test/Spring/SpelDocumentationTests.cs
  src/Common/test/Common.Test/Util/MimeTypeTest.cs
  src/Configuration/src/RandomValue/RandomValueProvider.cs
  src/Discovery/src/Consul/Registry/ConsulRegistration.cs
  src/Messaging/test/RabbitMQ.Test/Core/RabbitTemplateIntegrationTest.cs
Labels: ReleaseLine/4.x
