Repository SteeltoeOSS/Steeltoe, pull requests merged in 2022-07, with the labels that each got.

#881 Handle wrapping PlaceholderResolverProvider in ConfigServerHostedService
  src/Configuration/Configuration.sln
  src/Configuration/src/ConfigServerBase/ConfigServerHostedService.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerHostedServiceTest.cs
Labels: Type/bug, Component/Configuration, ReleaseLine/4.x

#876 Log exception in lieu of throwing, when SBA server is not available
  src/Management/src/EndpointBase/SpringBootAdminClient/SpringBootAdminClientHostedService.cs
  src/Management/src/EndpointCore/SpringBootAdminClient/SpringBootAdminApplicationBuilderExtensions.cs
  src/Management/test/EndpointBase.Test/SpringBootAdminClient/SpringBootAdminClientHostedServiceTest.cs
Labels: Component/Management

#892 Handle null ref in Eureka setup in CF when app has no Uri
  src/Discovery/src/Eureka/EurekaPostConfigurer.cs
  src/Discovery/test/Eureka.Test/EurekaPostConfigurerTest.cs
Labels: Type/bug, Component/Discovery

#869 Fix local cert generation for TAS not including all oids
  src/Common/src/Common.Security/LocalCertificateWriter.cs
Labels: Type/enhancement, Component/Common

#894 Promote bootstrap logger to public API
  src/Common/src/Common/Logging/BootstrapLoggerFactory.cs
  src/Common/src/Common/Logging/UpgradableBootstrapLoggerFactory.cs
Labels: ReleaseLine/4.x
