Repository SteeltoeOSS/Steeltoe, pull requests merged in 2022-02, with the labels that each got.

#822 Heapdump/Stacktrace changes - Use standard EventPipe API to do these
  src/Management/src/EndpointBase/HeapDump/DotNetHeapDump/DotNetHeapDumpGraphReader.cs
  src/Management/src/EndpointBase/HeapDump/DotNetHeapDump/DotNetHeapInfo.cs
  src/Management/src/EndpointBase/HeapDump/DotNetHeapDump/EventPipeDotNetHeapDumper.cs
  src/Management/src/EndpointBase/HeapDump/DotNetHeapDump/GCHeapDump.cs
  src/Management/src/EndpointBase/HeapDump/DotNetHeapDump/Graph.cs
  src/Management/src/EndpointBase/HeapDump/DotNetHeapDump/MemoryGraph.cs
  src/Management/src/EndpointBase/HeapDump/DotNetHeapDump/README.md
  src/Management/src/EndpointBase/HeapDump/DotNetHeapDump/Steeltoe-README.md
  src/Management/src/EndpointBase/HeapDump/HeapDumper.cs
  src/Management/src/EndpointBase/HeapDump/WindowsHeapDumper.cs
  src/Management/src/EndpointBase/Metrics/Observer/EventSourceListener.cs
  src/Management/src/EndpointBase/Steeltoe.Management.EndpointBase.csproj
  src/Management/src/EndpointBase/ThreadDump/IThreadDumpOptions.cs
  src/Management/src/EndpointBase/ThreadDump/ServiceCollectionExtensions.cs
  src/Management/src/EndpointBase/ThreadDump/ThreadDumpEndpointOptions.cs
  src/Management/src/EndpointBase/ThreadDump/ThreadDumper.cs
  src/Management/src/EndpointBase/ThreadDump/ThreadDumperEP.cs
  src/Management/src/EndpointCore/ActuatorServiceCollectionExtensions.cs
  src/Management/src/EndpointCore/HeapDump/EndpointServiceCollectionExtensions.cs
  src/Management/src/OpenTelemetryBase/Metrics/Exporter/SteeltoeExporter.cs
  src/Management/test/CloudFoundryCore.Test/CloudFoundryHostBuilderExtensionsTest.cs
  src/Management/test/EndpointBase.Test/HeapDump/HeapDumpEndpointTest.cs
  src/Management/test/EndpointBase.Test/ThreadDump/ThreadDumpEndpointOptionsTest.cs
  src/Management/test/EndpointCore.Test/ActuatorRouteBuilderExtensionsTest.cs
  src/Management/test/EndpointCore.Test/HeapDump/EndpointMiddlewareTest.cs
  src/Management/test/EndpointCore.Test/HeapDump/EndpointServiceCollectionTest.cs
  src/Management/test/EndpointCore.Test/ThreadDump/EndpointMiddlewareTest.cs
Labels: Type/enhancement, Component/Management, ReleaseLine/3.x

#826 Add ability to configure http headers to be added to the server request
  src/Configuration/src/ConfigServerBase/ConfigServerClientSettings.cs
  src/Configuration/src/ConfigServerBase/ConfigServerClientSettingsOptions.cs
  src/Configuration/src/ConfigServerBase/ConfigServerConfigurationProvider.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationProviderTest.cs
  src/Configuration/test/ConfigServerBase.Test/TestHelper.cs
  src/Configuration/test/ConfigServerCore.Test/ConfigServerClientSettingsOptionsTest.cs
Labels: Component/Configuration

#765 Add event for when Eureka registry is updated
  src/Discovery/src/Eureka/DiscoveryClient.cs
  src/Discovery/test/Eureka.Test/DiscoveryClientTest.cs
Labels: ReleaseLine/3.x, Component/Discovery, Status/needs-more-info

#803 Bootstrap logger
  ClearBinObjFolders.bat
  src/Common/src/Common.Hosting/BootstrapLoggerHostedService.cs
  src/Common/src/Common.Hosting/Properties/AssemblyInfo.cs
  src/Common/src/Common/Logging/BootstrapLoggerFactory.cs
  src/Common/src/Common/Logging/IBoostrapLoggerFactory.cs
  src/Common/src/Common/Logging/UpgradableBootstrapLoggerFactory.cs
  src/Common/src/Common/Properties/AssemblyInfo.cs
  src/Common/src/Common/Steeltoe.Common.csproj
  src/Common/test/Common.Hosting.Test/BootstrapperLoggerFactoryTests.cs
  src/Common/test/Common.Hosting.Test/Steeltoe.Common.Hosting.Test.csproj
  src/Configuration/src/ConfigServerBase/ConfigServerConfigurationProvider.cs
  src/Configuration/src/ConfigServerBase/ConfigServerDiscoveryService.cs
  src/Configuration/src/ConfigServerBase/ConfigServerHostedService.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerDiscoveryServiceTest.cs
Labels: Type/enhancement, ReleaseLine/3.x
