Repository SteeltoeOSS/Steeltoe, pull requests merged in 2022-12, with the labels that each got.

#1068 Update KubernetesClient NuGet package to v9.0
  src/Common/src/Common.Kubernetes/StandardPodUtilities.cs
  src/Common/test/Common.Kubernetes.Test/StandardPodUtilitiesTest.cs
  src/Common/test/Common.TestResources/HttpClientDelegatingHandler.cs
  src/Configuration/src/Kubernetes/KubernetesConfigMapProvider.cs
  src/Configuration/src/Kubernetes/KubernetesSecretProvider.cs
  src/Configuration/test/Kubernetes.Test/KubernetesConfigMapProviderTest.cs
  src/Configuration/test/Kubernetes.Test/KubernetesSecretProviderTest.cs
  src/Configuration/test/Kubernetes.Test/MockKubeApiServer.cs
  src/Discovery/src/Kubernetes/Discovery/KubernetesDiscoveryClient.cs
  src/Discovery/test/Kubernetes.Test/Discovery/KubernetesDiscoveryClientTest.cs
  versions.props
Labels: Component/Configuration, Component/Management, Component/Discovery, Component/Common, ReleaseLine/4.x

#1073 Bring Config Server Token and Logging Fixes from 3.2 to main
  src/Configuration/src/ConfigServer/ConfigServerConfigurationProvider.cs
  src/Configuration/src/ConfigServer/ConfigServerConfigurationSource.cs
  src/Configuration/src/ConfigServer/ConfigurationSettingsHelper.cs
Labels: Component/Configuration, ReleaseLine/4.x

#1067 Metrics updates to 4.x
  src/Management/src/Endpoint/Metrics/IMetricsObserverOptions.cs
  src/Management/src/Endpoint/Metrics/MetricsObserverOptions.cs
  src/Management/src/Endpoint/Metrics/Observer/CLRRuntimeObserver.cs
  src/Management/src/Endpoint/Metrics/Observer/EventCounterListener.cs
  src/Management/test/Endpoint.Test/ManagementWebHostBuilderExtensionsTest.cs
  src/Management/test/Endpoint.Test/Metrics/Observer/EventCounterListenerTest.cs
Labels: Type/enhancement, Component/Management, ReleaseLine/4.x

#1078 Add default for Cache timeout
  src/Management/src/EndpointBase/Metrics/MetricsEndpointOptions.cs
  src/Management/src/OpenTelemetryBase/Metrics/MetricsCollection.cs
Labels: Component/Management, ReleaseLine/3.x

#1082 Fix trigger for release/3.2
  azure-pipelines.yml
Labels: ReleaseLine/3.x, Type/infrastructure

#1083 Support deprecated server.urls for CF
  src/Common/src/Common.Hosting/HostBuilderExtensions.cs
  src/Common/test/Common.Hosting.Test/HostBuilderExtensionsTest.cs
Labels: Component/Management, Component/Common

#1087 Fixes failing tests
  src/Configuration/test/Kubernetes.ServiceBinding.Test/ConfigurationBuilderExtensionsTest.cs
  src/Configuration/test/Kubernetes.ServiceBinding.Test/ServiceBindingConfigurationProviderTest.cs
Labels: Component/Configuration, ReleaseLine/4.x

#1084 catch missing delimiters when building connection strings
  src/Connectors/src/ConnectorBase/AbstractServiceConnectorOptions.cs
  src/Connectors/test/ConnectorBase.Test/PostgreSQL/PostgresProviderConnectorOptionsTest.cs
Labels: Component/Connectors, ReleaseLine/3.x

#1088 Use cross-platform paths in CNB tests
  src/Configuration/test/Kubernetes.ServiceBinding.Test/ServiceBindingConfigurationProviderTest.cs
  src/Configuration/test/Kubernetes.ServiceBinding.Test/ServiceBindingConfigurationSourceTest.cs
  src/Configuration/test/Kubernetes.ServiceBinding.Test/ServiceBindingTest.cs
  src/Configuration/test/Kubernetes.ServiceBinding.Test/ServiceBindingsTest.cs
Labels: Type/bug, Component/Configuration, ReleaseLine/4.x
