Repository SteeltoeOSS/Steeltoe, pull requests merged in 2022-05, with the labels that each got.

#847 Create a PR for issue-840
  src/CircuitBreaker/src/HystrixBase/Serial/SerialHystrixDashboardData.cs
Labels: Type/bug, Component/CircuitBreaker

#849 Fixed a few tests that didn't assert on the outcome
  src/Common/src/Common/Util/MimeType.cs
  src/Management/src/EndpointBase/Metrics/Observer/HttpClientCoreObserver.cs
  src/Management/src/EndpointBase/Metrics/Observer/HttpClientDesktopObserver.cs
  src/Management/src/EndpointCore/Metrics/Observer/AspNetCoreHostingObserver.cs
  src/Management/test/EndpointBase.Test/Metrics/Observer/HttpClientCoreObserverTest.cs
  src/Management/test/EndpointBase.Test/Metrics/Observer/HttpClientDesktopObserverTest.cs
  src/Management/test/EndpointCore.Test/Metrics/Observer/AspNetCoreHostingObserverTest.cs
  src/Security/test/Authentication.CloudFoundryCore.Test/CloudFoundryOAuthHandlerTest.cs
Labels: Warn/breaking-change

#853 Get ConfigServer PollingInterval from Configuration object
  src/Configuration/src/ConfigServerBase/ConfigurationSettingsHelper.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationProviderTest.cs
Labels: Type/enhancement, Component/Configuration, ReleaseLine/3.x
