Repository SteeltoeOSS/Steeltoe, pull requests merged in 2023-07, with the labels that each got.

#1141 Fix type checking for IHttpClientHandlerProvider in Eureka client
  src/Discovery/src/Eureka/EurekaDiscoveryClientExtension.cs
  src/Discovery/test/ClientBase.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/Eureka.Test/EurekaDiscoveryClientExtensionTest.cs
Labels: Type/bug, ReleaseLine/3.x, Component/Discovery

#1142 Don't override "Set" in certificate config providers
  src/Common/src/Common.Security/CertificateProvider.cs
  src/Common/src/Common.Security/PemCertificateProvider.cs
Labels: Component/Configuration, Component/Security, ReleaseLine/3.x

#1138 Duplicate host port
  src/Common/src/Common.Hosting/HostBuilderExtensions.cs
  src/Common/test/Common.Hosting.Test/HostBuilderExtensionsTest.cs
Labels: Component/Common

#1143 Connector fixes
  src/Configuration/src/Kubernetes.ServiceBinding/ConfigurationBuilderExtensions.cs
  src/Configuration/src/Kubernetes.ServiceBinding/DirectoryServiceBindingsReader.cs
  src/Configuration/src/Kubernetes.ServiceBinding/EnvironmentServiceBindingsReader.cs
  src/Configuration/src/Kubernetes.ServiceBinding/IServiceBindingsReader.cs
  src/Configuration/src/Kubernetes.ServiceBinding/KubernetesServiceBindingConfigurationProvider.cs
  src/Configuration/src/Kubernetes.ServiceBinding/KubernetesServiceBindingConfigurationSource.cs
  src/Configuration/src/Kubernetes.ServiceBinding/Properties/AssemblyInfo.cs
  src/Configuration/test/Kubernetes.ServiceBinding.Test/ConfigurationBuilderExtensionsTest.cs
  src/Configuration/test/Kubernetes.ServiceBinding.Test/KubernetesServiceBindingConfigurationProviderTest.cs
  src/Configuration/test/Kubernetes.ServiceBinding.Test/KubernetesServiceBindingConfigurationSourceTest.cs
  src/Configuration/test/Kubernetes.ServiceBinding.Test/ServiceBindingTest.cs
  src/Connectors/src/Connectors/ConnectionStringPostProcessor.cs
  src/Connectors/src/Connectors/ConnectionStringPostProcessorConfigurationProvider.cs
  src/Connectors/src/Connectors/ConnectionStringPostProcessorConfigurationSource.cs
  src/Connectors/src/Connectors/ConnectorConfigurer.cs
  src/Connectors/test/Connectors.Test/ConfigurationChangeDetectionTests.cs
  src/Connectors/test/Connectors.Test/MemoryFileInfo.cs
  src/Connectors/test/Connectors.Test/MemoryFileProvider.cs
  src/Connectors/test/Connectors.Test/PostgreSql/PostgreSqlConnectorTests.cs
Labels: Component/Connectors, ReleaseLine/4.x

#1146 Fix type checking for IHttpClientHandlerProvider in Eureka client
  src/Discovery/src/Eureka/EurekaDiscoveryClientExtension.cs
  src/Discovery/test/Eureka.Test/EurekaDiscoveryClientExtensionTest.cs
Labels: Type/bug, Component/Discovery, ReleaseLine/4.x
