Repository SteeltoeOSS/Steeltoe, pull requests merged in 2023-10, with the labels that each got.

#1192 Add package readme that shows on NuGet.org
  PackageReadme.md
  shared-package.props
Labels: Type/documentation, ReleaseLine/4.x

#1168 Limit failing listener to a configured MaxAttempts
  src/Messaging/src/RabbitMQ/Configuration/DirectRabbitListenerContainerFactory.cs
  src/Messaging/src/RabbitMQ/Listener/AbstractMessageListenerContainer.cs
  src/Messaging/src/RabbitMQ/Retry/RejectAndDoNotRequeueRecoverer.cs
  src/Messaging/test/RabbitMQ.Test/Attributes/EnableRabbitIntegrationTest.cs
  src/Messaging/test/RabbitMQ.Test/Listener/DirectMessageListenerContainerIntegrationTest.cs
Labels: Component/Messaging, ReleaseLine/4.x

#1190 ConfigurationUrlHelper Enhancements
  src/Common/src/Common.Http/ConfigurationUrlHelpers.cs
  src/Common/test/Common.Http.Test/ConfigurationUrlHelpersTest.cs
  src/Common/test/Common.TestResources/HelperExtensions.cs
  src/Discovery/src/Client/ConfigurationUrlHelpers.cs
  src/Discovery/src/Consul/ConsulPostConfigurer.cs
  src/Discovery/src/Consul/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/src/Eureka/EurekaInstanceOptions.cs
  src/Discovery/src/Eureka/EurekaPostConfigurer.cs
  src/Discovery/test/Eureka.Test/EurekaInstanceOptionsTest.cs
Labels: Type/bug, Type/enhancement, Component/Discovery, Component/Common, ReleaseLine/4.x

#1194 Backport 1168 to 3.x (Limit retries)
  src/Messaging/src/RabbitMQ/Config/DirectRabbitListenerContainerFactory.cs
  src/Messaging/src/RabbitMQ/Listener/AbstractMessageListenerContainer.cs
  src/Messaging/src/RabbitMQ/Retry/RejectAndDontRequeueRecoverer.cs
  src/Messaging/test/RabbitMQ.Test/Attributes/EnableRabbitIntegrationTest.cs
  src/Messaging/test/RabbitMQ.Test/Listener/DirectMessageListenerContainerIntegrationTest.cs
Labels: ReleaseLine/3.x, Component/Messaging

#1193 Make event counter interval seconds configurable
  src/Management/src/Abstractions/Diagnostics/MetricsObserverOptions.cs
  src/Management/src/Abstractions/PublicAPI.Unshipped.txt
  src/Management/src/Endpoint/Metrics/ConfigureMetricsObserverOptions.cs
  src/Management/src/Endpoint/Metrics/Observer/EventCounterListener.cs
  src/Management/test/Endpoint.Test/Metrics/MetricsObserverOptionsTest.cs
  src/Management/test/Endpoint.Test/Metrics/Observer/EventCounterListenerTest.cs
Labels: Component/Management, ReleaseLine/4.x

#1200 Fix service discovery auth issue on ASA-E
  src/Common/src/Common.Security/CertificateRotationService.cs
  src/Common/src/Common.Security/ConfigureCertificateOptions.cs
  src/Common/test/Common.Security.Test/CertificateRotationServiceTest.cs
Labels: Type/bug, ReleaseLine/3.x, Component/Discovery, Component/Common

#1204 Remove redundant suppressions after Sonar update
  src/Management/src/Endpoint/CloudFoundry/ICloudFoundryEndpointHandler.cs
  src/Management/src/Endpoint/DbMigrations/IDbMigrationsEndpointHandler.cs
  src/Management/src/Endpoint/Environment/IEnvironmentEndpointHandler.cs
  src/Management/src/Endpoint/Health/IHealthEndpointHandler.cs
  src/Management/src/Endpoint/HeapDump/IHeapDumpEndpointHandler.cs
  src/Management/src/Endpoint/Info/IInfoEndpointHandler.cs
  src/Management/src/Endpoint/Loggers/ILoggersEndpointHandler.cs
  src/Management/src/Endpoint/Metrics/IMetricsEndpointHandler.cs
  src/Management/src/Endpoint/Metrics/MetricsExporterOptions.cs
  src/Management/src/Endpoint/Refresh/IRefreshEndpointHandler.cs
  src/Management/src/Endpoint/RouteMappings/IRouteMappingsEndpointHandler.cs
  src/Management/src/Endpoint/ThreadDump/IThreadDumpEndpointHandler.cs
  src/Management/src/Endpoint/Trace/IHttpTraceEndpointHandler.cs
  src/Management/src/Endpoint/Web/Hypermedia/IActuatorEndpointHandler.cs
Labels: Type/code-quality

#1198 Fix for Configuration changes are not detected.
  src/Management/src/Endpoint/ActuatorServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Environment/ConfigureEnvironmentEndpointOptions.cs
  src/Management/src/Endpoint/Health/ConfigureHealthEndpointOptions.cs
  src/Management/src/Endpoint/Health/Contributor/ConfigureDiskSpaceContributorOptions.cs
  src/Management/src/Endpoint/Health/ServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Metrics/ConfigureMetricsObserverOptions.cs
  src/Management/src/Endpoint/Metrics/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Options/ConfigureEndpointOptions.cs
  src/Management/src/Endpoint/Options/ConfigureManagementOptions.cs
  src/Management/src/Endpoint/Options/IConfigureOptionsWithKey.cs
  src/Management/src/Endpoint/Properties/AssemblyInfo.cs
  src/Management/src/Endpoint/PublicAPI.Unshipped.txt
  src/Management/src/Endpoint/SpringBootAdminClient/ConfigureSpringBootAdminClientOptions.cs
  src/Management/src/Endpoint/SpringBootAdminClient/ServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Trace/ConfigureTraceEndpointOptions.cs
  src/Management/src/Tracing/TracingBaseServiceCollectionExtensions.cs
  src/Management/src/Wavefront/Exporters/ConfigureWavefrontExporterOptions.cs
  src/Management/src/Wavefront/WavefrontExtensions.cs
Labels: Component/Management, ReleaseLine/4.x

#1208 Fix issue where "Spring:Cloud:Config:Timeout" configuration property isn't respected
  src/Common/src/Common.Http/HttpClientHelper.cs
  src/Configuration/src/ConfigServerBase/ConfigServerConfigurationProvider.cs
  src/Configuration/test/ConfigServerBase.Test/ConfigServerConfigurationProviderTest.cs
Labels: Type/bug, Component/Configuration, ReleaseLine/3.x
