Repository SteeltoeOSS/Steeltoe, pull requests merged in 2023-12, with the labels that each got.

#1228 Dispose configuration providers
  src/Configuration/src/ConfigServer/ConfigServerConfigurationProvider.cs
  src/Configuration/src/Encryption/EncryptionResolverProvider.cs
  src/Configuration/src/Placeholder/PlaceholderResolverProvider.cs
  src/Configuration/test/ConfigServer.Test/ConfigServerHostBuilderExtensionsTest.cs
  src/Configuration/test/Placeholder.Test/PlaceholderResolverProviderTest.cs
Labels: Component/Configuration, ReleaseLine/4.x

#1229 Bring fixes from 3.2 line to 4.0
  build/pr-code-cleanup.yml
  src/Common/src/Common.Http/HttpClientHelper.cs
  src/Common/src/Common.Security/CertificateProvider.cs
  src/Common/src/Common.Security/CertificateRotationService.cs
  src/Common/src/Common.Security/ConfigureCertificateOptions.cs
  src/Common/src/Common.Security/PemCertificateProvider.cs
  src/Common/test/Common.Security.Test/CertificateRotationServiceTest.cs
  src/Configuration/src/ConfigServer/ConfigServerConfigurationProvider.cs
  src/Configuration/src/SpringBoot/SpringBootEnvironmentVariableProvider.cs
  src/Configuration/test/ConfigServer.Test/ConfigServerConfigurationBuilderExtensionsTest.cs
  src/Configuration/test/ConfigServer.Test/ConfigServerConfigurationProviderTest.cs
  src/Configuration/test/SpringBoot.Test/SpringBootHostBuilderExtensionsTest.cs
  src/Configuration/test/SpringBoot.Test/Steeltoe.Configuration.SpringBoot.Test.csproj
Labels: ReleaseLine/4.x

#1230 Backport IDisposable ConfigProviders to 3.2
  azure-pipelines.yml
  sharedproject.props
  sharedtest.props
  src/Configuration/src/ConfigServerBase/ConfigServerConfigurationProvider.cs
  src/Configuration/src/PlaceholderBase/PlaceholderResolverProvider.cs
  src/Configuration/test/ConfigServerCore.Test/ConfigServerHostBuilderExtensionsTest.cs
  src/Configuration/test/PlaceholderBase.Test/PlaceholderResolverProviderTest.cs
  versions.props
Labels: Component/Configuration, ReleaseLine/3.x

#1233 Provide parameterless MapAllActuators() for .NET 6
  src/Management/src/EndpointCore/ActuatorRouteBuilderExtensions.cs
Labels: Type/enhancement, Component/Management, ReleaseLine/3.x

#1232 Update session state storage in Redis to work with the new connectors
  shared-package.props
  src/Connectors/src/Connectors/Connector.cs
  src/Security/src/DataProtection.Redis/CloudFoundryRedisXmlRepository.cs
  src/Security/src/DataProtection.Redis/PublicAPI.Shipped.txt
  src/Security/src/DataProtection.Redis/PublicAPI.Unshipped.txt
  src/Security/src/DataProtection.Redis/RedisDataProtectionBuilderExtensions.cs
  src/Security/src/DataProtection.Redis/Steeltoe.Security.DataProtection.Redis.csproj
  src/Security/test/DataProtection.Redis.Test/RedisDataProtectionBuilderExtensionsTest.cs
  src/Security/test/DataProtection.Redis.Test/Steeltoe.Security.DataProtection.Redis.Test.csproj
Labels: Component/Security, ReleaseLine/4.x

#1235 Do not build intermediate service providers
  src/Common/test/Common.Security.Test/CertificateRotationServiceTest.cs
  src/Configuration/src/ConfigServer/ConfigServerDiscoveryService.cs
  src/Discovery/src/Client/DiscoveryHostBuilderExtensions.cs
  src/Discovery/src/Client/DiscoveryServiceCollectionExtensions.cs
  src/Discovery/src/Client/DiscoveryWebApplicationBuilderExtensions.cs
  src/Discovery/src/Client/DiscoveryWebHostBuilderExtensions.cs
  src/Discovery/test/Client.Test/DiscoveryServiceCollectionExtensionsTest.cs
  src/Discovery/test/Consul.Test/ConsulDiscoveryClientBuilderExtensionsTest.cs
Labels: ReleaseLine/4.x
