Repository SteeltoeOSS/Steeltoe, pull requests merged in 2023-09, with the labels that each got.

#1167 Add and use Metadata in ConsulDiscoveryOptions
  src/Discovery/src/Consul/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/src/Consul/Discovery/ConsulServiceInstance.cs
  src/Discovery/src/Consul/Registry/ConsulRegistration.cs
  src/Discovery/src/Consul/Util/ConsulServerUtils.cs
  src/Discovery/test/Consul.Test/Discovery/ConsulDiscoveryClientTest.cs
  src/Discovery/test/Consul.Test/Discovery/ConsulServiceInstanceTest.cs
  src/Discovery/test/Consul.Test/Discovery/ThisServiceInstanceTest.cs
  src/Discovery/test/Consul.Test/Registry/ConsulRegistrationTest.cs
Labels: Type/enhancement, Component/Discovery, ReleaseLine/4.x

#1170 Fix SpringBootEnvProvider throws unhandled exception
  src/Configuration/src/SpringBootBase/SpringBootEnvProvider.cs
  src/Configuration/test/SpringBootCore.Test/SpringBootHostBuilderExtensionsTest.cs
  src/Configuration/test/SpringBootCore.Test/Steeltoe.Extensions.Configuration.SpringBootCore.Test.csproj
Labels: Type/bug, Component/Configuration, ReleaseLine/3.x

#1180 Consul - Add support for metadata in a backwards compatible way
  src/Discovery/src/Consul/Discovery/ConsulDiscoveryOptions.cs
  src/Discovery/src/Consul/Discovery/ConsulServiceInstance.cs
  src/Discovery/src/Consul/Registry/ConsulRegistration.cs
  src/Discovery/test/Consul.Test/Discovery/ConsulServiceInstanceTest.cs
  src/Discovery/test/Consul.Test/Discovery/ThisServiceInstanceTest.cs
  src/Discovery/test/Consul.Test/Registry/ConsulRegistrationTest.cs
Labels: Type/enhancement, ReleaseLine/3.x, Component/Discovery

#1185 Fix bug: cloudfoundry endpoint
  src/Management/src/Endpoint/CloudFoundry/CloudFoundrySecurityMiddleware.cs
  src/Management/test/Endpoint.Test/CloudFoundry/CloudFoundrySecurityMiddlewareTest.cs
Labels: Component/Management
