Repository SteeltoeOSS/Steeltoe, pull requests merged in 2024-08, with the labels that each got.

#1331 Make IApplicationTask async, registered as keyed service
  src/Common/src/Common/IApplicationTask.cs
  src/Common/src/Common/Properties/AssemblyInfo.cs
  src/Connectors/src/EntityFrameworkCore/MigrateDbContextTask.cs
  src/Connectors/src/EntityFrameworkCore/PublicAPI.Unshipped.txt
  src/Connectors/test/EntityFrameworkCore.Test/MigrateDbContextTaskTest.cs
  src/Connectors/test/EntityFrameworkCore.Test/Steeltoe.Connectors.EntityFrameworkCore.Test.csproj
  src/Management/src/Task/DelegatingTask.cs
  src/Management/src/Task/PublicAPI.Unshipped.txt
  src/Management/src/Task/TaskServiceCollectionExtensions.cs
  src/Management/src/Task/TaskWebHostExtensions.cs
  src/Management/src/Tasks/ConfigurationSchema.json
  src/Management/src/Tasks/DelegatingTask.cs
  src/Management/src/Tasks/Properties/AssemblyInfo.cs
  src/Management/src/Tasks/PublicAPI.Shipped.txt
  src/Management/src/Tasks/PublicAPI.Unshipped.txt
  src/Management/src/Tasks/Steeltoe.Management.Tasks.csproj
  src/Management/src/Tasks/TaskHostExtensions.cs
  src/Management/src/Tasks/TaskServiceCollectionExtensions.cs
  src/Management/test/Task.Test/PassException.cs
  src/Management/test/Task.Test/TaskRunTest.cs
  src/Management/test/Task.Test/TestServerStartup.cs
  src/Management/test/Tasks.Test/Steeltoe.Management.Tasks.Test.csproj
  src/Management/test/Tasks.Test/TaskHostExtensionsTest.cs
  src/Steeltoe.All.sln
  src/Steeltoe.Management.slnf
Labels: Type/enhancement, Component/Management, Warn/api-change, ReleaseLine/4.x

#1339 Review ConfigServer log levels
  src/Configuration/src/ConfigServer/ConfigServerConfigurationProvider.cs
  src/Configuration/test/ConfigServer.Integration.Test/Steeltoe.Configuration.ConfigServer.Integration.Test.csproj
Labels: Type/enhancement, Component/Configuration, ReleaseLine/4.x

#1341 Don't throw ArgumentException for empty config keys
  src/Configuration/src/Encryption/EncryptionResolverProvider.cs
  src/Configuration/src/Placeholder/PlaceholderResolverProvider.cs
  src/Configuration/src/RandomValue/RandomValueProvider.cs
Labels: Component/Configuration, ReleaseLine/4.x

#1336 Allow changing the header used for certificate auth
  src/Security/src/Authorization.Certificate/CertificateAuthorizationBuilderExtensions.cs
  src/Security/src/Authorization.Certificate/CertificateHttpClientBuilderExtensions.cs
  src/Security/src/Authorization.Certificate/PublicAPI.Unshipped.txt
  src/Security/test/Authorization.Certificate.Test/CertificateAuthorizationTest.cs
  src/Security/test/Authorization.Certificate.Test/CertificateHttpClientBuilderExtensionsTest.cs
Labels: Type/enhancement, Component/Security, ReleaseLine/4.x
