Repository SteeltoeOSS/Steeltoe, pull requests merged in 2024-01, with the labels that each got.

#1224 Services actuator, revisited
  src/Management/src/Endpoint/ActuatorServiceCollectionExtensions.cs
  src/Management/src/Endpoint/HostBuilderWrapperExtensions.cs
  src/Management/src/Endpoint/ManagementHostBuilderExtensions.cs
  src/Management/src/Endpoint/ManagementWebApplicationBuilderExtensions.cs
  src/Management/src/Endpoint/ManagementWebHostBuilderExtensions.cs
  src/Management/src/Endpoint/Options/ConfigureManagementOptions.cs
  src/Management/src/Endpoint/PublicAPI.Unshipped.txt
  src/Management/src/Endpoint/Services/ConfigureServicesEndpointOptions.cs
  src/Management/src/Endpoint/Services/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Services/IServicesEndpointHandler.cs
  src/Management/src/Endpoint/Services/ServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Services/ServiceRegistration.cs
  src/Management/src/Endpoint/Services/ServiceRegistrationsJsonConverter.cs
  src/Management/src/Endpoint/Services/ServicesEndpointHandler.cs
  src/Management/src/Endpoint/Services/ServicesEndpointMiddleware.cs
  src/Management/src/Endpoint/Services/ServicesEndpointOptions.cs
  src/Management/test/Endpoint.Test/ManagementHostBuilderExtensionsTest.cs
  src/Management/test/Endpoint.Test/ManagementWebApplicationBuilderExtensionsTest.cs
  src/Management/test/Endpoint.Test/ManagementWebHostBuilderExtensionsTest.cs
  src/Management/test/Endpoint.Test/Services/EndpointMiddlewareTest.cs
  src/Management/test/Endpoint.Test/Services/EndpointServiceCollectionTest.cs
  src/Management/test/Endpoint.Test/Services/ServicesEndpointOptionsTest.cs
  src/Management/test/Endpoint.Test/Services/ServicesEndpointTest.cs
  src/Management/test/Endpoint.Test/Services/Startup.cs
  src/Steeltoe.All.sln.DotSettings
Labels: Component/Management, ReleaseLine/4.x

#1245 Consul :: Add tests to cover health check path being used when heartbeat is off
  src/Discovery/test/Consul.Test/Registry/ConsulRegistrationTest.cs
Labels: ReleaseLine/3.x, Component/Discovery

#1237 #984 single file publish works with Service connectors
  src/Common/src/Common/Reflection/ReflectionHelpers.cs
  src/Connectors/src/CloudFoundry/CloudFoundryConnector.cs
  src/Discovery/src/Consul/Discovery/ConsulDiscoveryClient.cs
  src/Discovery/src/Eureka/EurekaDiscoveryClient.cs
  src/Discovery/src/Kubernetes/Discovery/KubernetesDiscoveryClient.cs
Labels: Component/Connectors, ReleaseLine/3.x

#1256 Add CorsPolicyBuilder to WebApp/WebHost extensions
  src/Management/src/EndpointCore/ManagementWebApplicationBuilderExtensions.cs
  src/Management/src/EndpointCore/ManagementWebHostBuilderExtensions.cs
Labels: Type/enhancement, Component/Management, ReleaseLine/3.x
