Repository SteeltoeOSS/Steeltoe, pull requests merged in 2024-10, with the labels that each got.

#1378 Add support for keyed services in beans/services actuator
  src/Common/src/Common/Properties/AssemblyInfo.cs
  src/Common/src/Common/ServiceDescriptorExtensions.cs
  src/Discovery/src/Eureka/EurekaServiceCollectionExtensions.cs
  src/Logging/src/DynamicLogger/LoggingBuilderExtensions.cs
  src/Management/src/Endpoint/Actuators/Services/ServiceRegistration.cs
  src/Management/src/Endpoint/PublicAPI.Unshipped.txt
  src/Management/test/Endpoint.Test/Actuators/Services/ServicesEndpointTest.cs
Labels: Component/Management, ReleaseLine/4.x

#1380 Fix ignored authorization callbacks in management endpoints
  src/Management/src/Endpoint/ActuatorConventionBuilder.cs
  src/Management/src/Endpoint/ActuatorEndpointMapper.cs
  src/Management/src/Endpoint/ActuatorRouteBuilderExtensions.cs
  src/Management/src/Endpoint/ActuatorServiceCollectionExtensions.cs
  src/Management/src/Endpoint/AllActuatorsStartupFilter.cs
  src/Management/src/Endpoint/DeferredActuatorConventionBuilder.cs
  src/Management/src/Endpoint/HostBuilderWrapperExtensions.cs
  src/Management/src/Endpoint/ImmediateActuatorConventionBuilder.cs
  src/Management/src/Endpoint/PublicAPI.Unshipped.txt
  src/Management/test/Endpoint.Test/ActuatorRouteBuilderExtensionsTest.cs
Labels: Component/Management, ReleaseLine/4.x

#1382 ManagementPortMiddleware log adjustment
  src/Management/src/Endpoint/ManagementPort/ManagementPortMiddleware.cs
Labels: Component/Management, ReleaseLine/4.x

#1385 Remove all references to Jaeger
  src/Management/src/Tracing/Steeltoe.Management.Tracing.csproj
  src/Management/src/Tracing/TracingBaseServiceCollectionExtensions.cs
  src/Management/test/Tracing.Test/Steeltoe.Management.Tracing.Test.csproj
  src/Management/test/Tracing.Test/TracingBaseServiceCollectionExtensionsTest.cs
  versions.props
Labels: Component/Management, ReleaseLine/4.x

#1389 Call UseActuatorsCorsPolicy before UseCloudFoundrySecurity
  src/Management/src/Endpoint/Actuators/All/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/ConfigureActuatorsMiddlewareStartupFilter.cs
  src/Management/test/Endpoint.Test/CorsPolicyTest.cs
Labels: Type/bug, Component/Management, ReleaseLine/4.x

#1391 Update pipeline tasks
  azure-pipelines.yml
Labels: Type/infrastructure

#1392 Fixes in health actuator
  src/Management/src/Endpoint/Actuators/Health/Availability/AvailabilityHealthContributor.cs
  src/Management/src/Endpoint/Actuators/Health/Availability/ConfigureLivenessHealthContributorOptions.cs
  src/Management/src/Endpoint/Actuators/Health/Availability/ConfigureReadinessHealthContributorOptions.cs
  src/Management/src/Endpoint/Actuators/Health/Availability/LivenessHealthContributor.cs
  src/Management/src/Endpoint/Actuators/Health/Availability/LivenessHealthContributorOptions.cs
  src/Management/src/Endpoint/Actuators/Health/Availability/ReadinessHealthContributor.cs
  src/Management/src/Endpoint/Actuators/Health/Availability/ReadinessHealthContributorOptions.cs
  src/Management/src/Endpoint/Actuators/Health/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/Health/HealthConverter.cs
  src/Management/src/Endpoint/ConfigurationSchema.json
  src/Management/src/Endpoint/Properties/AssemblyInfo.cs
  src/Management/src/Endpoint/PublicAPI.Unshipped.txt
  src/Management/test/Endpoint.Test/Actuators/Health/Availability/LivenessHealthContributorTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/Availability/ReadinessHealthContributorTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/HealthEndpointTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/HealthTest.cs
  src/Management/test/Endpoint.Test/ActuatorsHostBuilderTest.cs
Labels: Type/enhancement, Component/Management, ReleaseLine/4.x

#1393 Expose all actuators under the CloudFoundry context
  src/Management/src/Endpoint/Actuators/Hypermedia/HypermediaService.cs
  src/Management/test/Endpoint.Test/Actuators/CloudFoundry/CloudFoundryEndpointTest.cs
  src/Management/test/Endpoint.Test/Actuators/CloudFoundry/EndpointMiddlewareTest.cs
  src/Management/test/Endpoint.Test/Actuators/CloudFoundry/Startup.cs
  src/Management/test/Endpoint.Test/Actuators/Hypermedia/HypermediaEndpointTest.cs
  src/Management/test/Endpoint.Test/ActuatorsHostBuilderTest.cs
Labels: Type/bug, Component/Management, ReleaseLine/4.x

#1395 Improved assertions in tests
  src/Bootstrap/test/AutoConfiguration.Test/HostBuilderExtensionsTest.cs
  src/Common/test/Http.Test/HttpClientExtensionsTest.cs
  src/Configuration/test/CloudFoundry.Test/CloudFoundryConfigurationBuilderExtensionsTest.cs
  src/Configuration/test/CloudFoundry.Test/CloudFoundryServicesOptionsTest.cs
  src/Configuration/test/CloudFoundry.Test/ServiceBindings/ConfigurationBuilderExtensionsTest.cs
  src/Configuration/test/ConfigServer.Discovery.Test/ConfigServerDiscoveryServiceTest.cs
  src/Configuration/test/ConfigServer.Test/ConfigServerConfigurationBuilderExtensionsTest.cs
  src/Configuration/test/ConfigServer.Test/ConfigServerConfigurationProviderTest.Loading.cs
  src/Configuration/test/ConfigServer.Test/ConfigServerServiceCollectionExtensionsTest.cs
  src/Configuration/test/Encryption.Test/DecryptionConfigurationTest.cs
  src/Configuration/test/Kubernetes.ServiceBindings.Test/ConfigurationBuilderExtensionsTest.cs
  src/Configuration/test/Placeholder.Test/PlaceholderConfigurationTest.cs
  src/Connectors/test/Connectors.Test/ConfigurationChangeDetectionTest.cs
  src/Connectors/test/Connectors.Test/CosmosDb/CosmosDbConnectorTest.cs
  src/Connectors/test/Connectors.Test/MongoDb/MongoDbConnectorTest.cs
  src/Connectors/test/Connectors.Test/MySql/MySqlConnector/MySqlConnectorTest.cs
  src/Connectors/test/Connectors.Test/MySql/Oracle/MySqlConnectorTest.cs
  src/Connectors/test/Connectors.Test/PostgreSql/PostgreSqlConnectorTest.cs
  src/Connectors/test/Connectors.Test/RabbitMQ/RabbitMQConnectorTest.cs
  src/Connectors/test/Connectors.Test/Redis/RedisConnectorTest.cs
  src/Connectors/test/Connectors.Test/SqlServer/MicrosoftData/SqlServerConnectorTest.cs
  src/Connectors/test/Connectors.Test/SqlServer/SystemData/SqlServerConnectorTest.cs
  src/Discovery/test/Configuration.Test/ConfigurationDiscoveryClientTest.cs
  src/Discovery/test/Consul.Test/ConsulServiceCollectionExtensionsTest.cs
  src/Discovery/test/Eureka.Test/AppInfo/InstanceInfoTest.cs
  src/Discovery/test/Eureka.Test/EurekaApplicationInfoManagerTest.cs
  src/Discovery/test/Eureka.Test/EurekaServiceCollectionExtensionsTest.cs
  src/Discovery/test/Eureka.Test/PostConfigureEurekaInstanceOptionsTest.cs
  src/Discovery/test/HttpClients.Test/LoadBalancers/DiscoveryHttpClientHandlerTest.cs
  src/Discovery/test/HttpClients.Test/LoadBalancers/DiscoveryHttpDelegatingHandlerTest.cs
  src/Discovery/test/HttpClients.Test/RegisterMultipleDiscoveryClientsTest.cs
  src/Logging/test/DynamicLogger.Test/DynamicLoggerHostBuilderExtensionsTest.cs
  src/Logging/test/DynamicLogger.Test/LoggingBuilderExtensionsTest.cs
  src/Logging/test/DynamicSerilog.Test/SerilogDynamicLoggingBuilderTest.cs
  src/Management/test/Endpoint.Test/Actuators/DbMigrations/DbMigrationsEndpointTest.cs
  src/Management/test/Endpoint.Test/Actuators/HttpExchanges/EndpointMiddlewareTest.cs
  src/Management/test/Endpoint.Test/Actuators/HttpExchanges/HttpExchangesDiagnosticObserverTest.cs
  src/Management/test/Endpoint.Test/Actuators/Info/EndpointServiceCollectionTest.cs
  src/Management/test/Endpoint.Test/Actuators/Metrics/EndpointServiceCollectionExtensionsTest.cs
  src/Management/test/Endpoint.Test/Actuators/Services/EndpointMiddlewareTest.cs
  src/Management/test/Endpoint.Test/ActuatorsHostBuilderTest.cs
  src/Management/test/Endpoint.Test/ConfigureOptionsTest.cs
  src/Management/test/Endpoint.Test/CorsPolicyTest.cs
  src/Management/test/Endpoint.Test/ExposureTest.cs
  src/Management/test/Endpoint.Test/ManagementPort/ManagementEndpointServedOnDifferentPortTest.cs
  src/Management/test/Wavefront.Test/WavefrontMetricsTest.cs
Labels: ReleaseLine/4.x, Type/code-quality
