Repository SteeltoeOSS/Steeltoe, pull requests merged in 2025-02, with the labels that each got.

#1465 Fix S6354: Use a testable date/time provider
  Steeltoe.Debug.ruleset
  Steeltoe.Release.ruleset
  src/Common/src/Certificates/CertificateConfigurationExtensions.cs
  src/Common/src/Certificates/LocalCertificateWriter.cs
  src/Common/src/Certificates/PublicAPI.Unshipped.txt
  src/Common/test/Certificates.Test/LocalCertificateWriterTest.cs
  src/Configuration/src/ConfigServer/ConfigServerHealthContributor.cs
  src/Configuration/src/ConfigServer/ConfigServerServiceCollectionExtensions.cs
  src/Configuration/test/ConfigServer.Test/ConfigServerHealthContributorTest.cs
  src/Discovery/src/Eureka/AppInfo/ApplicationInfo.cs
  src/Discovery/src/Eureka/AppInfo/ApplicationInfoCollection.cs
  src/Discovery/src/Eureka/AppInfo/InstanceInfo.cs
  src/Discovery/src/Eureka/EurekaApplicationInfoManager.cs
  src/Discovery/src/Eureka/EurekaClient.cs
  src/Discovery/src/Eureka/EurekaDiscoveryClient.cs
  src/Discovery/src/Eureka/EurekaServerHealthContributor.cs
  src/Discovery/src/Eureka/EurekaServiceCollectionExtensions.cs
  src/Discovery/src/Eureka/PublicAPI.Unshipped.txt
  src/Discovery/src/HttpClients/DiscoveryHttpClientBuilderExtensions.cs
  src/Discovery/src/HttpClients/DiscoveryHttpClientHandler.cs
  src/Discovery/src/HttpClients/DiscoveryHttpDelegatingHandler.cs
  src/Discovery/src/HttpClients/PublicAPI.Unshipped.txt
  src/Discovery/test/Eureka.Test/AppInfo/ApplicationInfoCollectionTest.cs
  src/Discovery/test/Eureka.Test/AppInfo/ApplicationInfoTest.cs
  src/Discovery/test/Eureka.Test/AppInfo/InstanceInfoTest.cs
  src/Discovery/test/Eureka.Test/EurekaApplicationInfoManagerTest.cs
  src/Discovery/test/Eureka.Test/EurekaDiscoveryClientTest.cs
  src/Discovery/test/Eureka.Test/EurekaServiceInstanceTest.cs
  src/Discovery/test/Eureka.Test/InstanceInfoBuilder.cs
  src/Discovery/test/Eureka.Test/Transport/EurekaClientTest.cs
  src/Discovery/test/HttpClients.Test/LoadBalancers/DiscoveryHttpClientHandlerTest.cs
  src/Discovery/test/HttpClients.Test/LoadBalancers/DiscoveryHttpDelegatingHandlerTest.cs
  src/Management/src/Endpoint/Actuators/HeapDump/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/HeapDump/HeapDumper.cs
  src/Management/src/Endpoint/Actuators/HttpExchanges/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/HttpExchanges/HttpExchangesDiagnosticObserver.cs
  src/Management/src/Endpoint/SpringBootAdminClient/ServiceCollectionExtensions.cs
  src/Management/src/Endpoint/SpringBootAdminClient/SpringBootAdminClientHostedService.cs
  src/Management/test/Endpoint.Test/Actuators/HttpExchanges/HttpExchangesDiagnosticObserverTest.cs
Labels: Warn/api-change, ReleaseLine/4.x, Type/code-quality

#1474 Refactor actuator middleware (separation of concerns)
  shared-package.props
  src/Bootstrap/test/AutoConfiguration.Test/HostBuilderExtensionsTest.cs
  src/Management/src/Endpoint/Actuators/CloudFoundry/CloudFoundryEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/DbMigrations/DbMigrationsEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/Environment/EnvironmentEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/Health/Availability/LivenessStateHealthContributor.cs
  src/Management/src/Endpoint/Actuators/Health/Availability/ReadinessStateHealthContributor.cs
  src/Management/src/Endpoint/Actuators/Health/Contributors/DiskSpaceHealthContributor.cs
  src/Management/src/Endpoint/Actuators/Health/Contributors/PingHealthContributor.cs
  src/Management/src/Endpoint/Actuators/Health/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/Health/HealthEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/HeapDump/HeapDumpEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/HttpExchanges/HttpExchangesEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/Hypermedia/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/Hypermedia/HypermediaEndpointHandler.cs
  src/Management/src/Endpoint/Actuators/Hypermedia/HypermediaEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/Hypermedia/IHypermediaEndpointHandler.cs
  src/Management/src/Endpoint/Actuators/Info/InfoEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/Loggers/LoggersEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/Refresh/RefreshEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/RouteMappings/RouteMappingsEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/Services/ServicesEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/ThreadDump/EventPipeThreadDumper.cs
  src/Management/src/Endpoint/Actuators/ThreadDump/ThreadDumpEndpointMiddleware.cs
  src/Management/src/Endpoint/CoreActuatorServiceCollectionExtensions.cs
  src/Management/src/Endpoint/IEndpointHandler.cs
  src/Management/src/Endpoint/Middleware/EndpointMiddleware.cs
  src/Management/src/Endpoint/PublicAPI.Unshipped.txt
  src/Management/test/Endpoint.Test/Actuators/Health/Availability/LivenessStateHealthContributorTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/Availability/ReadinessStateHealthContributorTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/Contributors/DiskSpaceHealthContributorTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/HealthEndpointTest.cs
  src/Management/test/Endpoint.Test/Actuators/Hypermedia/EndpointServiceCollectionTest.cs
  src/Management/test/Endpoint.Test/Actuators/Hypermedia/HypermediaEndpointTest.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/TestMiddleware.cs
Labels: Component/Management, Warn/api-change, ReleaseLine/4.x

#1478 Update content-type for mappings to v3
  src/Management/src/Endpoint/Actuators/RouteMappings/RouteMappingsEndpointMiddleware.cs
  src/Management/src/Endpoint/SpringBootAdminClient/SpringBootAdminClientHostedService.cs
  src/Management/test/Endpoint.Test/ActuatorContentNegotiationTests.cs
  src/Management/test/Endpoint.Test/Actuators/RouteMappings/ActuatorRouteMappingsTest.cs
Labels: Component/Management, ReleaseLine/4.x
