Repository SteeltoeOSS/Steeltoe, pull requests merged in 2025-01, with the labels that each got.

#1426 Remove extra line of code in test
  src/Security/test/Authentication.JwtBearer.Test/PostConfigureJwtBearerOptionsTest.cs
Labels: Type/code-quality

#1421 ShowDetails in /health
  src/Management/src/Endpoint/Actuators/Health/HealthEndpointHandler.cs
  src/Management/src/Endpoint/Actuators/Health/ShowDetails.cs
  src/Management/src/Endpoint/ConfigurationSchema.json
  src/Management/src/Endpoint/PublicAPI.Unshipped.txt
  src/Management/test/Endpoint.Test/Actuators/Health/EndpointMiddlewareTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/HealthEndpointOptionsTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/HealthEndpointTest.cs
  src/Management/test/Endpoint.Test/ActuatorsHostBuilderTest.cs
Labels: Type/bug, Component/Management, ReleaseLine/4.x

#1422 Read CF_INSTANCE_PORTS, apply to management port
  src/Management/src/Endpoint/ManagementPort/ManagementPortMiddleware.cs
  src/Management/test/Endpoint.Test/ManagementPort/ManagementEndpointServedOnDifferentPortTest.cs
Labels: Component/Management, ReleaseLine/4.x

#1444 don't mask unauthorized as server error, set a claims id if user has …
  src/Management/src/Endpoint/Actuators/CloudFoundry/CloudFoundrySecurityMiddleware.cs
  src/Management/src/Endpoint/Actuators/CloudFoundry/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/CloudFoundry/PermissionsProvider.cs
  src/Management/src/Endpoint/Steeltoe.Management.Endpoint.csproj
  src/Management/test/Endpoint.Test/ActuatorsHostBuilderTest.cs
  versions.props
Labels: Component/Management, ReleaseLine/4.x

#1438 Actuator content negotiation
  src/Common/src/Common/HealthChecks/HealthCheckResult.cs
  src/Management/src/Endpoint/ActuatorMediaTypes.cs
  src/Management/src/Endpoint/Actuators/All/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/Health/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/Health/HealthConverter.cs
  src/Management/src/Endpoint/Actuators/Health/HealthConverterV3.cs
  src/Management/src/Endpoint/Actuators/Health/HealthEndpointHandler.cs
  src/Management/src/Endpoint/Actuators/Health/HealthEndpointResponse.cs
  src/Management/src/Endpoint/Actuators/Health/ShowDetails.cs
  src/Management/src/Endpoint/Actuators/HeapDump/HeapDumpEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/Loggers/LoggersEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/RouteMappings/RouteMappingsEndpointMiddleware.cs
  src/Management/src/Endpoint/Actuators/ThreadDump/ConfigureThreadDumpEndpointOptions.cs
  src/Management/src/Endpoint/Actuators/ThreadDump/ConfigureThreadDumpEndpointOptionsV1.cs
  src/Management/src/Endpoint/Actuators/ThreadDump/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/ThreadDump/ThreadDumpJsonConverter.cs
  src/Management/src/Endpoint/ConfigurationSchema.json
  src/Management/src/Endpoint/ContentNegotiation/ContentNegotiationExtensions.cs
  src/Management/src/Endpoint/MediaTypeVersion.cs
  src/Management/src/Endpoint/Middleware/EndpointMiddleware.cs
  src/Management/src/Endpoint/Properties/AssemblyInfo.cs
  src/Management/src/Endpoint/PublicAPI.Unshipped.txt
  src/Management/test/Endpoint.Test/ActuatorContentNegotiationTests.cs
  src/Management/test/Endpoint.Test/Actuators/CloudFoundry/CloudFoundrySecurityMiddlewareTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/EndpointMiddlewareTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/HealthAggregatorTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/HealthEndpointTest.cs
  src/Management/test/Endpoint.Test/Actuators/Health/HealthTest.cs
  src/Management/test/Endpoint.Test/Actuators/Loggers/EndpointMiddlewareTest.cs
  src/Management/test/Endpoint.Test/Actuators/ThreadDump/EndpointMiddlewareTest.cs
  src/Management/test/Endpoint.Test/Actuators/ThreadDump/EndpointServiceCollectionTest.cs
  src/Management/test/Endpoint.Test/Actuators/ThreadDump/StartupV1.cs
  src/Management/test/Endpoint.Test/Actuators/ThreadDump/ThreadDumpEndpointOptionsTest.cs
  src/Management/test/Endpoint.Test/Actuators/ThreadDump/ThreadDumpEndpointTest.cs
  src/Management/test/Endpoint.Test/ActuatorsHostBuilderTest.cs
  src/Management/test/Endpoint.Test/BaseTest.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/CloudFoundryStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/ContentNegotiationTest.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/DbMigrationsStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/EndpointName.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/EnvironmentStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/HealthStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/HttpExchangeStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/HyperMediaStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/InfoStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/LoggersStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/MappingsStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/MetricsStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/RefreshStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/TestStartupExtensions.cs
  src/Management/test/Endpoint.Test/ContentNegotiation/ThreadDumpStartup.cs
  src/Management/test/Endpoint.Test/ContentNegotiationTests.cs
Labels: Component/Management, Warn/api-change, ReleaseLine/4.x

#1424 Move Diagnostics types from Management.Abstractions to Management.Endpoint
  src/Management/src/Abstractions/PublicAPI.Unshipped.txt
  src/Management/src/Endpoint/Actuators/HttpExchanges/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/HttpExchanges/HttpExchangesDiagnosticObserver.cs
  src/Management/src/Endpoint/Actuators/Metrics/ConfigureMetricsObserverOptions.cs
  src/Management/src/Endpoint/Actuators/Metrics/Diagnostics/DiagnosticObserver.cs
  src/Management/src/Endpoint/Actuators/Metrics/Diagnostics/DiagnosticsManager.cs
  src/Management/src/Endpoint/Actuators/Metrics/Diagnostics/DiagnosticsService.cs
  src/Management/src/Endpoint/Actuators/Metrics/Diagnostics/IDiagnosticObserver.cs
  src/Management/src/Endpoint/Actuators/Metrics/Diagnostics/IDiagnosticsManager.cs
  src/Management/src/Endpoint/Actuators/Metrics/Diagnostics/IRuntimeDiagnosticSource.cs
  src/Management/src/Endpoint/Actuators/Metrics/Diagnostics/ServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/Metrics/EndpointServiceCollectionExtensions.cs
  src/Management/src/Endpoint/Actuators/Metrics/MetricsObserverOptions.cs
  src/Management/src/Endpoint/Actuators/Metrics/Observers/AspNetCoreHostingObserver.cs
  src/Management/src/Endpoint/Actuators/Metrics/Observers/ClrRuntimeObserver.cs
  src/Management/src/Endpoint/Actuators/Metrics/Observers/EventCounterListener.cs
  src/Management/src/Endpoint/Actuators/Metrics/Observers/HttpClientObserver.cs
  src/Management/src/Endpoint/Actuators/Metrics/Observers/MetricsObserver.cs
  src/Management/src/Endpoint/ConfigurationSchema.json
  src/Management/src/Endpoint/Properties/AssemblyInfo.cs
  src/Management/src/Endpoint/PublicAPI.Unshipped.txt
  src/Management/test/Endpoint.Test/Actuators/HttpExchanges/EndpointServiceCollectionTest.cs
  src/Management/test/Endpoint.Test/Actuators/Metrics/AspNetCoreHostingObserverTest.cs
  src/Management/test/Endpoint.Test/Actuators/Metrics/EndpointServiceCollectionExtensionsTest.cs
  src/Management/test/Endpoint.Test/Actuators/Metrics/MetricsObserverOptionsTest.cs
  src/Management/test/Endpoint.Test/Actuators/Metrics/Observers/EventCounterListenerTest.cs
Labels: Component/Management, ReleaseLine/4.x

#1452 Prefer "org" to spelling out "organization"
  src/Common/src/Certificates/CertificateConfigurationExtensions.cs
  src/Common/src/Certificates/PublicAPI.Unshipped.txt
  src/Security/src/Authorization.Certificate/ApplicationClaimTypes.cs
  src/Security/src/Authorization.Certificate/ApplicationInstanceCertificate.cs
  src/Security/src/Authorization.Certificate/CertificateAuthorizationBuilderExtensions.cs
  src/Security/src/Authorization.Certificate/CertificateAuthorizationHandler.cs
  src/Security/src/Authorization.Certificate/CertificateAuthorizationPolicies.cs
  src/Security/src/Authorization.Certificate/CertificateAuthorizationPolicyBuilderExtensions.cs
  src/Security/src/Authorization.Certificate/PostConfigureCertificateAuthenticationOptions.cs
  src/Security/src/Authorization.Certificate/PublicAPI.Unshipped.txt
  src/Security/src/Authorization.Certificate/SameOrgRequirement.cs
  src/Security/test/Authorization.Certificate.Test/ApplicationInstanceCertificateTest.cs
  src/Security/test/Authorization.Certificate.Test/CertificateAuthorizationTest.cs
Labels: Component/Security, ReleaseLine/4.x
