Repository SteeltoeOSS/Steeltoe, pull requests merged in 2025-08, with the labels that each got.

#1561 Remove explicit package versions from project files
  src/Common/src/Common.Kubernetes/Steeltoe.Common.Kubernetes.csproj
  src/Common/test/Common.TestResources/Steeltoe.Common.TestResources.csproj
  src/Configuration/src/ConfigServerBase/Steeltoe.Extensions.Configuration.ConfigServerBase.csproj
  src/Connectors/src/ConnectorBase/CosmosDb/CosmosDbTypeLocator.cs
  src/Connectors/test/ConnectorBase.Test/CosmosDb/CosmosDbConnectorFactoryTest.cs
  src/Connectors/test/ConnectorBase.Test/Steeltoe.Connector.ConnectorBase.Test.csproj
  src/Discovery/src/Eureka/Steeltoe.Discovery.Eureka.csproj
  src/Integration/test/Benchmark/Benchmark.csproj
  src/Logging/src/DynamicSerilogBase/Steeltoe.Extensions.Logging.DynamicSerilogBase.csproj
  src/Logging/test/DynamicSerilogBase.Test/Steeltoe.Extensions.Logging.DynamicSerilogBase.Test.csproj
  src/Logging/test/DynamicSerilogCore.Test/Steeltoe.Extensions.Logging.DynamicSerilogCore.Test.csproj
  src/Management/src/EndpointBase/Steeltoe.Management.EndpointBase.csproj
  src/Management/test/EndpointBase.Test/Steeltoe.Management.EndpointBase.Test.csproj
  src/Management/test/EndpointCore.Test/Steeltoe.Management.EndpointCore.Test.csproj
  src/Messaging/src/RabbitMQ/Steeltoe.Messaging.RabbitMQ.csproj
  src/Messaging/test/Benchmarks/Channel/ChannelBenchmark.csproj
  src/Stream/test/BinderRabbitMQ.Test/Steeltoe.Stream.Binder.RabbitMQ.Test.csproj
  versions.props
Labels: ReleaseLine/3.x

#1562 Fix transitive vulnerable dependencies 3x
  .github/workflows/scan-vulnerable-dependencies.yml
  sharedproject.props
  sharedtest.props
  src/Bootstrap/test/Autoconfig.Test/Steeltoe.Bootstrap.Autoconfig.Test.csproj
  src/Common/src/Common.Kubernetes/Steeltoe.Common.Kubernetes.csproj
  src/Common/test/Common.TestResources/Steeltoe.Common.TestResources.csproj
  src/Configuration/src/KubernetesBase/Steeltoe.Extensions.Configuration.KubernetesBase.csproj
  src/Configuration/src/SpringBootBase/Steeltoe.Extensions.Configuration.SpringBootBase.csproj
  src/Connectors/src/Connector.EFCore/Steeltoe.Connector.EFCore.csproj
  src/Connectors/test/Connector.EF6Core.Test/Steeltoe.Connector.EF6Core.Test.csproj
  src/Connectors/test/Connector.EFCore.Test/Steeltoe.Connector.EFCore.Test.csproj
  src/Connectors/test/ConnectorBase.Test/Steeltoe.Connector.ConnectorBase.Test.csproj
  src/Connectors/test/ConnectorCore.Test/Steeltoe.Connector.ConnectorCore.Test.csproj
  src/Discovery/src/Consul/Steeltoe.Discovery.Consul.csproj
  src/Integration/test/Benchmark/Benchmark.csproj
  src/Logging/src/DynamicSerilogBase/Steeltoe.Extensions.Logging.DynamicSerilogBase.csproj
  src/Management/src/EndpointBase/Steeltoe.Management.EndpointBase.csproj
  src/Management/test/EndpointBase.Test/Steeltoe.Management.EndpointBase.Test.csproj
  src/Management/test/EndpointCore.Test/Steeltoe.Management.EndpointCore.Test.csproj
  src/Management/test/KubernetesCore.Test/Steeltoe.Management.KubernetesCore.Test.csproj
  src/Messaging/test/Benchmarks/Channel/ChannelBenchmark.csproj
  src/Security/src/Authentication.CloudFoundryBase/Steeltoe.Security.Authentication.CloudFoundryBase.csproj
  src/Security/src/Authentication.CloudFoundryCore/Steeltoe.Security.Authentication.CloudFoundryCore.csproj
  src/Security/src/Authentication.MtlsCore/Steeltoe.Security.Authentication.MtlsCore.csproj
  src/Security/src/DataProtection.RedisCore/Steeltoe.Security.DataProtection.RedisCore.csproj
  src/Security/test/Authentication.CloudFoundryBase.Test/CloudFoundryTokenKeyResolverTest.cs
  src/Stream/src/StreamBase/Steeltoe.Stream.StreamBase.csproj
  versions.props
Labels: ReleaseLine/3.x

#1577 Constrain the maximum RabbitMQ version for Hystrix and Messaging/Stream
  src/CircuitBreaker/src/Hystrix.MetricsStreamCore/Steeltoe.CircuitBreaker.Hystrix.MetricsStreamCore.csproj
  src/Messaging/src/RabbitMQ/Steeltoe.Messaging.RabbitMQ.csproj
  versions.props
Labels: Component/CircuitBreaker, ReleaseLine/3.x, Component/Messaging

#1580 Enhance JWT issuer validation
  src/Security/src/Authentication.JwtBearer/PostConfigureJwtBearerOptions.cs
  src/Security/test/Authentication.JwtBearer.Test/PostConfigureJwtBearerOptionsTest.cs
Labels: Component/Security, ReleaseLine/4.x
