Repository SteeltoeOSS/Steeltoe, pull requests merged in 2025-04, with the labels that each got.

#1503 Allow network share paths with disk health contributor, better exceptions for WindowsNetworkFileShare
  src/Common/src/Net/WindowsNetworkFileShare.cs
  src/Common/test/Net.Test/WindowsNetworkFileShareTest.cs
  src/Management/src/Endpoint/Actuators/Health/Contributors/DiskSpaceHealthContributor.cs
  src/Management/src/Endpoint/Actuators/Health/Contributors/NativeMethods.cs
  src/Management/test/Endpoint.Test/Actuators/Health/Contributors/DiskSpaceHealthContributorTest.cs
Labels: Component/Management, Component/NetworkFileShare, ReleaseLine/4.x

#1508 Enhancements for Spring Boot Admin registration
  shared-test.props
  src/Common/src/Common/Net/DomainNameResolver.cs
  src/Common/src/Common/Net/IDomainNameResolver.cs
  src/Common/src/Common/Net/InetUtils.cs
  src/Common/src/Http/HttpClientExtensions.cs
  src/Common/src/Http/Properties/AssemblyInfo.cs
  src/Common/test/Common.Test/Net/InetUtilsTest.cs
  src/Common/test/TestResources/Steeltoe.Common.TestResources.csproj
  src/Common/test/TestResources/TestFailureTracer.cs
  src/Common/test/TestResources/TestSettingsFactory.cs
  src/Configuration/test/ConfigServer.Integration.Test/ConfigServerConfigurationExtensionsIntegrationTest.cs
  src/Configuration/test/ConfigServer.Test/ConfigServerConfigurationProviderTest.Loading.cs
  src/Discovery/src/Consul/ConsulServiceCollectionExtensions.cs
  src/Discovery/src/Consul/PeriodicHeartbeat.cs
  src/Discovery/src/Consul/PostConfigureConsulDiscoveryOptions.cs
  src/Discovery/src/Eureka/Configuration/EurekaInstanceOptions.cs
  src/Discovery/src/Eureka/ConfigurationSchema.json
  src/Discovery/src/Eureka/EurekaServiceCollectionExtensions.cs
  src/Discovery/src/Eureka/PostConfigureEurekaInstanceOptions.cs
  src/Discovery/src/Eureka/ValidateEurekaClientOptions.cs
  src/Discovery/test/Consul.Test/Discovery/PostConfigureConsulDiscoveryOptionsTest.cs
  src/Discovery/test/Consul.Test/Registry/TestRegistrationFactory.cs
  src/Discovery/test/Eureka.Test/EurekaClientOptionsTest.cs
  src/Discovery/test/Eureka.Test/PostConfigureEurekaInstanceOptionsTest.cs
  src/Management/src/Endpoint/Configuration/ManagementOptions.cs
  src/Management/src/Endpoint/ConfigurationSchema.json
  src/Management/src/Endpoint/ManagementPort/ManagementPortMiddleware.cs
  src/Management/src/Endpoint/PublicAPI.Unshipped.txt
  src/Management/src/Endpoint/SpringBootAdminClient/AppUrlCalculator.cs
  src/Management/src/Endpoint/SpringBootAdminClient/ConfigureSpringBootAdminClientOptions.cs
  src/Management/src/Endpoint/SpringBootAdminClient/ServiceCollectionExtensions.cs
  src/Management/src/Endpoint/SpringBootAdminClient/SpringBootAdminApiClient.cs
  src/Management/src/Endpoint/SpringBootAdminClient/SpringBootAdminClientHostedService.cs
  src/Management/src/Endpoint/SpringBootAdminClient/SpringBootAdminClientOptions.cs
  src/Management/src/Endpoint/SpringBootAdminClient/SpringBootAdminPeriodicRefresh.cs
  src/Management/src/Endpoint/SpringBootAdminClient/SpringBootAdminRefreshRunner.cs
  src/Management/src/Prometheus/PrometheusExtensions.cs
  src/Management/test/Endpoint.Test/Actuators/HeapDump/HeapDumpEndpointTest.cs
  src/Management/test/Endpoint.Test/ConfigureOptionsTest.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/AppUrlCalculatorTest.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/FakeDomainNameResolver.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/FakeServer.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/HostBuilderTest.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/ServiceCollectionExtensionsTest.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/SpringBootAdminClientHostedServiceTest.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/SpringBootAdminClientOptionsTest.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/SpringBootAdminRefreshRunnerTest.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/TestMiddleware.cs
  src/Management/test/Endpoint.Test/SpringBootAdminClient/TestStartup.cs
  src/Management/test/Endpoint.Test/Steeltoe.Management.Endpoint.Test.csproj
Labels: Component/Management, Warn/breaking-change, ReleaseLine/4.x

#1510 Use the new package signing tool
  build/appsettings.json
  build/package.yml
  build/sign-packages.ps1
Labels: Type/infrastructure, ReleaseLine/4.x
